ZAP2Frontend_C#/InterfacesTrabajoGrupal/Connected Services/ServiciosWS/AreaWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="ZAP2WS" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="AreaWS" targetNamespace="ZAP2WS" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/ZAP2WS/AreaWS?xsd=1" namespace="ZAP2WS" />
    </xsd:schema>
  </types>
  <message name="hi">
    <part name="parameters" element="tns:hi" />
  </message>
  <message name="hiResponse">
    <part name="parameters" element="tns:hiResponse" />
  </message>
  <message name="modificarArea">
    <part name="parameters" element="tns:modificarArea" />
  </message>
  <message name="modificarAreaResponse">
    <part name="parameters" element="tns:modificarAreaResponse" />
  </message>
  <message name="eliminarArea">
    <part name="parameters" element="tns:eliminarArea" />
  </message>
  <message name="eliminarAreaResponse">
    <part name="parameters" element="tns:eliminarAreaResponse" />
  </message>
  <message name="listarAreasTodas">
    <part name="parameters" element="tns:listarAreasTodas" />
  </message>
  <message name="listarAreasTodasResponse">
    <part name="parameters" element="tns:listarAreasTodasResponse" />
  </message>
  <message name="insertarArea">
    <part name="parameters" element="tns:insertarArea" />
  </message>
  <message name="insertarAreaResponse">
    <part name="parameters" element="tns:insertarAreaResponse" />
  </message>
  <portType name="AreaWS">
    <operation name="hi">
      <input wsam:Action="ZAP2WS/AreaWS/hiRequest" message="tns:hi" />
      <output wsam:Action="ZAP2WS/AreaWS/hiResponse" message="tns:hiResponse" />
    </operation>
    <operation name="modificarArea">
      <input wsam:Action="ZAP2WS/AreaWS/modificarAreaRequest" message="tns:modificarArea" />
      <output wsam:Action="ZAP2WS/AreaWS/modificarAreaResponse" message="tns:modificarAreaResponse" />
    </operation>
    <operation name="eliminarArea">
      <input wsam:Action="ZAP2WS/AreaWS/eliminarAreaRequest" message="tns:eliminarArea" />
      <output wsam:Action="ZAP2WS/AreaWS/eliminarAreaResponse" message="tns:eliminarAreaResponse" />
    </operation>
    <operation name="listarAreasTodas">
      <input wsam:Action="ZAP2WS/AreaWS/listarAreasTodasRequest" message="tns:listarAreasTodas" />
      <output wsam:Action="ZAP2WS/AreaWS/listarAreasTodasResponse" message="tns:listarAreasTodasResponse" />
    </operation>
    <operation name="insertarArea">
      <input wsam:Action="ZAP2WS/AreaWS/insertarAreaRequest" message="tns:insertarArea" />
      <output wsam:Action="ZAP2WS/AreaWS/insertarAreaResponse" message="tns:insertarAreaResponse" />
    </operation>
  </portType>
  <binding name="AreaWSPortBinding" type="tns:AreaWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="hi">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarArea">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarArea">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarAreasTodas">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarArea">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="AreaWS">
    <port name="AreaWSPort" binding="tns:AreaWSPortBinding">
      <soap:address location="http://localhost:8080/ZAP2WS/AreaWS" />
    </port>
  </service>
</definitions>