ZAP2Frontend_C#/InterfacesTrabajoGrupal/Connected Services/ServiciosWS/ElectrodomesticosWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="ZAP2WS" targetNamespace="ZAP2WS" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarElectrodomesticos" type="tns:eliminarElectrodomesticos" />
  <xs:element name="eliminarElectrodomesticosResponse" type="tns:eliminarElectrodomesticosResponse" />
  <xs:element name="insertarElectrodomestico" type="tns:insertarElectrodomestico" />
  <xs:element name="insertarElectrodomesticoResponse" type="tns:insertarElectrodomesticoResponse" />
  <xs:element name="listarElectrodomesticosTodos" type="tns:listarElectrodomesticosTodos" />
  <xs:element name="listarElectrodomesticosTodosResponse" type="tns:listarElectrodomesticosTodosResponse" />
  <xs:element name="modificarElectrodomestico" type="tns:modificarElectrodomestico" />
  <xs:element name="modificarElectrodomesticoResponse" type="tns:modificarElectrodomesticoResponse" />
  <xs:complexType name="listarElectrodomesticosTodos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarElectrodomesticosTodosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:electrodomesticos" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="electrodomesticos">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:producto">
        <xs:sequence>
          <xs:element minOccurs="0" name="modelo" type="xs:string" />
          <xs:element minOccurs="0" name="tiempoGarantia" type="xs:dateTime" />
          <xs:element name="tieneGarantia" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="producto">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="idProducto" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="lotes" nillable="true" type="tns:lote" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="precio_de_productos" nillable="true" type="tns:productoPrecio" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="lote">
    <xs:sequence>
      <xs:element name="fid_almacen" type="xs:int" />
      <xs:element name="fid_pedido" type="xs:int" />
      <xs:element name="id_lote" type="xs:int" />
      <xs:element minOccurs="0" name="producto" type="tns:producto" />
      <xs:element name="stockActual" type="xs:double" />
      <xs:element name="stockInicial" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="productoPrecio">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="descuentos" nillable="true" type="tns:descuento" />
      <xs:element name="id_productoPrecio" type="xs:int" />
      <xs:element name="precio" type="xs:double" />
      <xs:element minOccurs="0" name="producto" type="tns:producto" />
      <xs:element minOccurs="0" name="surcursal" type="tns:surcursal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="descuento">
    <xs:sequence>
      <xs:element name="descuentoAplicado" type="xs:double" />
      <xs:element minOccurs="0" name="fechaFinal" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaInicial" type="xs:dateTime" />
      <xs:element name="pp" type="xs:double" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="productoPrecio" nillable="true" type="tns:productoPrecio" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="surcursal">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="almacenes" nillable="true" type="tns:almacen" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="areas" nillable="true" type="tns:area" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="empleados" nillable="true" type="tns:empleado" />
      <xs:element name="id_sucursal" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="producto" nillable="true" type="tns:productoPrecio" />
      <xs:element name="tam_metros" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="almacen">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="capacidadActualProductos" type="xs:double" />
      <xs:element name="capacidadMaximaProductos" type="xs:double" />
      <xs:element name="id_almacen" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="lotes" nillable="true" type="tns:lote" />
      <xs:element minOccurs="0" name="surcursal" type="tns:surcursal" />
      <xs:element minOccurs="0" name="tipoAlmacen" type="tns:tipoAlmacen" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="area">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="empleadosDeArea" nillable="true" type="tns:empleadoDeArea" />
      <xs:element name="id_area" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="productos" nillable="true" type="tns:producto" />
      <xs:element minOccurs="0" name="surcursa" type="tns:surcursal" />
      <xs:element minOccurs="0" name="surcursal" type="tns:surcursal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="empleadoDeArea">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:empleado">
        <xs:sequence>
          <xs:element minOccurs="0" name="puesto" type="tns:tipoPuesto" />
          <xs:element minOccurs="0" name="supervisor" type="tns:supervisor" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="empleado">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:personaNatural">
        <xs:sequence>
          <xs:element minOccurs="0" name="area" type="tns:area" />
          <xs:element minOccurs="0" name="fecha_contratacion" type="xs:dateTime" />
          <xs:element minOccurs="0" name="horario" type="tns:turnosHorario" />
          <xs:element name="id_empleado" type="xs:int" />
          <xs:element name="salario" type="xs:double" />
          <xs:element minOccurs="0" name="tipoContrato" type="tns:tipoContrato" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="personaNatural">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:persona">
        <xs:sequence>
          <xs:element minOccurs="0" name="cuenta_usuario" type="tns:cuentaUsuario" />
          <xs:element minOccurs="0" name="direccion" type="xs:string" />
          <xs:element name="idPNatural" type="xs:int" />
          <xs:element name="sexo" type="xs:unsignedShort" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="persona" abstract="true">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellido_materno" type="xs:string" />
      <xs:element minOccurs="0" name="apellido_paterno" type="xs:string" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element name="id_Persona" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="nro_documento" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
      <xs:element minOccurs="0" name="tipo_documento" type="tns:tipoDocumento" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="supervisor">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:empleado">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="cajeros" nillable="true" type="tns:cajero" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="empleadosArea" nillable="true" type="tns:empleadoDeArea" />
          <xs:element name="numempleados" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="cajero">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:empleado">
        <xs:sequence>
          <xs:element name="cantidadCaja" type="xs:double" />
          <xs:element name="numeroCaja" type="xs:int" />
          <xs:element minOccurs="0" name="supervisor" type="tns:supervisor" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="cuentaUsuario">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="id_cuenta" type="xs:int" />
      <xs:element minOccurs="0" name="password" type="xs:string" />
      <xs:element minOccurs="0" name="persona" type="tns:personaNatural" />
      <xs:element minOccurs="0" name="usuario" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarElectrodomestico">
    <xs:sequence>
      <xs:element minOccurs="0" name="electrodomestico" type="tns:electrodomesticos" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarElectrodomesticoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarElectrodomesticos">
    <xs:sequence>
      <xs:element name="idElectrodomestico" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarElectrodomesticosResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarElectrodomestico">
    <xs:sequence>
      <xs:element minOccurs="0" name="electrodomesticos" type="tns:electrodomesticos" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarElectrodomesticoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="tipoAlmacen">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AlmacenComun" />
      <xs:enumeration value="Congeladora" />
      <xs:enumeration value="Refrigeradora" />
      <xs:enumeration value="AlmacenSeco" />
      <xs:enumeration value="AlmacenDeProductosQuimicos" />
      <xs:enumeration value="AlmacenElectronicos" />
      <xs:enumeration value="NA" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipoPuesto">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Empacador" />
      <xs:enumeration value="Consultor" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="turnosHorario">
    <xs:restriction base="xs:string">
      <xs:enumeration value="MAÑANA" />
      <xs:enumeration value="NOCHE" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipoContrato">
    <xs:restriction base="xs:string">
      <xs:enumeration value="TiempoParcial" />
      <xs:enumeration value="TiempoCompleto" />
      <xs:enumeration value="ContratoEspecial" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipoDocumento">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DNI" />
      <xs:enumeration value="CARNET_EXTRANJERIA" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>