ZAP2Frontend_C#/InterfacesTrabajoGrupal/Connected Services/ServiciosWS/MonedaWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="ZAP2WS" targetNamespace="ZAP2WS" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarMoneda" type="tns:eliminarMoneda" />
  <xs:element name="eliminarMonedaResponse" type="tns:eliminarMonedaResponse" />
  <xs:element name="insertarMoneda" type="tns:insertarMoneda" />
  <xs:element name="insertarMonedaResponse" type="tns:insertarMonedaResponse" />
  <xs:element name="listarMonedasTodas" type="tns:listarMonedasTodas" />
  <xs:element name="listarMonedasTodasResponse" type="tns:listarMonedasTodasResponse" />
  <xs:element name="modificarMoneda" type="tns:modificarMoneda" />
  <xs:element name="modificarMonedaResponse" type="tns:modificarMonedaResponse" />
  <xs:complexType name="eliminarMoneda">
    <xs:sequence>
      <xs:element name="idMoneda" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarMonedaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarMonedasTodas">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarMonedasTodasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:moneda" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="moneda">
    <xs:sequence>
      <xs:element minOccurs="0" name="abreviacion" type="xs:string" />
      <xs:element name="idMoneda" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarMoneda">
    <xs:sequence>
      <xs:element minOccurs="0" name="moneda" type="tns:moneda" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarMonedaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarMoneda">
    <xs:sequence>
      <xs:element minOccurs="0" name="moneda" type="tns:moneda" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarMonedaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>