ZAP2Frontend_C#/InterfacesTrabajoGrupal/Connected Services/ServiciosWS/ProductoPerecibleWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="ZAP2WS" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ProductoPerecibleWS" targetNamespace="ZAP2WS" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/ZAP2WS/ProductoPerecibleWS?xsd=1" namespace="ZAP2WS" />
    </xsd:schema>
  </types>
  <message name="insertarProductosPerecibles">
    <part name="parameters" element="tns:insertarProductosPerecibles" />
  </message>
  <message name="insertarProductosPereciblesResponse">
    <part name="parameters" element="tns:insertarProductosPereciblesResponse" />
  </message>
  <message name="listarProductosPereciblesTodos">
    <part name="parameters" element="tns:listarProductosPereciblesTodos" />
  </message>
  <message name="listarProductosPereciblesTodosResponse">
    <part name="parameters" element="tns:listarProductosPereciblesTodosResponse" />
  </message>
  <message name="modificarProductosPerecibles">
    <part name="parameters" element="tns:modificarProductosPerecibles" />
  </message>
  <message name="modificarProductosPereciblesResponse">
    <part name="parameters" element="tns:modificarProductosPereciblesResponse" />
  </message>
  <message name="eliminarProductosPerecibles">
    <part name="parameters" element="tns:eliminarProductosPerecibles" />
  </message>
  <message name="eliminarProductosPereciblesResponse">
    <part name="parameters" element="tns:eliminarProductosPereciblesResponse" />
  </message>
  <portType name="ProductoPerecibleWS">
    <operation name="insertarProductosPerecibles">
      <input wsam:Action="ZAP2WS/ProductoPerecibleWS/insertarProductosPereciblesRequest" message="tns:insertarProductosPerecibles" />
      <output wsam:Action="ZAP2WS/ProductoPerecibleWS/insertarProductosPereciblesResponse" message="tns:insertarProductosPereciblesResponse" />
    </operation>
    <operation name="listarProductosPereciblesTodos">
      <input wsam:Action="ZAP2WS/ProductoPerecibleWS/listarProductosPereciblesTodosRequest" message="tns:listarProductosPereciblesTodos" />
      <output wsam:Action="ZAP2WS/ProductoPerecibleWS/listarProductosPereciblesTodosResponse" message="tns:listarProductosPereciblesTodosResponse" />
    </operation>
    <operation name="modificarProductosPerecibles">
      <input wsam:Action="ZAP2WS/ProductoPerecibleWS/modificarProductosPereciblesRequest" message="tns:modificarProductosPerecibles" />
      <output wsam:Action="ZAP2WS/ProductoPerecibleWS/modificarProductosPereciblesResponse" message="tns:modificarProductosPereciblesResponse" />
    </operation>
    <operation name="eliminarProductosPerecibles">
      <input wsam:Action="ZAP2WS/ProductoPerecibleWS/eliminarProductosPereciblesRequest" message="tns:eliminarProductosPerecibles" />
      <output wsam:Action="ZAP2WS/ProductoPerecibleWS/eliminarProductosPereciblesResponse" message="tns:eliminarProductosPereciblesResponse" />
    </operation>
  </portType>
  <binding name="ProductoPerecibleWSPortBinding" type="tns:ProductoPerecibleWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="insertarProductosPerecibles">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarProductosPereciblesTodos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarProductosPerecibles">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarProductosPerecibles">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ProductoPerecibleWS">
    <port name="ProductoPerecibleWSPort" binding="tns:ProductoPerecibleWSPortBinding">
      <soap:address location="http://localhost:8080/ZAP2WS/ProductoPerecibleWS" />
    </port>
  </service>
</definitions>