ZAP2Frontend_C#/InterfacesTrabajoGrupal/Connected Services/ServiciosWS/ProductoParaElCuidadoPersonalYDelHogarMySQLWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="ZAP2WS" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ProductoParaElCuidadoPersonalYDelHogarMySQLWS" targetNamespace="ZAP2WS" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/ZAP2WS/ProductoParaElCuidadoPersonalYDelHogarMySQLWS?xsd=1" namespace="ZAP2WS" />
    </xsd:schema>
  </types>
  <message name="insertarPCPH">
    <part name="parameters" element="tns:insertarPCPH" />
  </message>
  <message name="insertarPCPHResponse">
    <part name="parameters" element="tns:insertarPCPHResponse" />
  </message>
  <message name="eliminarPCPH">
    <part name="parameters" element="tns:eliminarPCPH" />
  </message>
  <message name="eliminarPCPHResponse">
    <part name="parameters" element="tns:eliminarPCPHResponse" />
  </message>
  <message name="modificarPCPH">
    <part name="parameters" element="tns:modificarPCPH" />
  </message>
  <message name="modificarPCPHResponse">
    <part name="parameters" element="tns:modificarPCPHResponse" />
  </message>
  <message name="listarPCPHTodas">
    <part name="parameters" element="tns:listarPCPHTodas" />
  </message>
  <message name="listarPCPHTodasResponse">
    <part name="parameters" element="tns:listarPCPHTodasResponse" />
  </message>
  <portType name="ProductoParaElCuidadoPersonalYDelHogarMySQLWS">
    <operation name="insertarPCPH">
      <input wsam:Action="ZAP2WS/ProductoParaElCuidadoPersonalYDelHogarMySQLWS/insertarPCPHRequest" message="tns:insertarPCPH" />
      <output wsam:Action="ZAP2WS/ProductoParaElCuidadoPersonalYDelHogarMySQLWS/insertarPCPHResponse" message="tns:insertarPCPHResponse" />
    </operation>
    <operation name="eliminarPCPH">
      <input wsam:Action="ZAP2WS/ProductoParaElCuidadoPersonalYDelHogarMySQLWS/eliminarPCPHRequest" message="tns:eliminarPCPH" />
      <output wsam:Action="ZAP2WS/ProductoParaElCuidadoPersonalYDelHogarMySQLWS/eliminarPCPHResponse" message="tns:eliminarPCPHResponse" />
    </operation>
    <operation name="modificarPCPH">
      <input wsam:Action="ZAP2WS/ProductoParaElCuidadoPersonalYDelHogarMySQLWS/modificarPCPHRequest" message="tns:modificarPCPH" />
      <output wsam:Action="ZAP2WS/ProductoParaElCuidadoPersonalYDelHogarMySQLWS/modificarPCPHResponse" message="tns:modificarPCPHResponse" />
    </operation>
    <operation name="listarPCPHTodas">
      <input wsam:Action="ZAP2WS/ProductoParaElCuidadoPersonalYDelHogarMySQLWS/listarPCPHTodasRequest" message="tns:listarPCPHTodas" />
      <output wsam:Action="ZAP2WS/ProductoParaElCuidadoPersonalYDelHogarMySQLWS/listarPCPHTodasResponse" message="tns:listarPCPHTodasResponse" />
    </operation>
  </portType>
  <binding name="ProductoParaElCuidadoPersonalYDelHogarMySQLWSPortBinding" type="tns:ProductoParaElCuidadoPersonalYDelHogarMySQLWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="insertarPCPH">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarPCPH">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarPCPH">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPCPHTodas">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ProductoParaElCuidadoPersonalYDelHogarMySQLWS">
    <port name="ProductoParaElCuidadoPersonalYDelHogarMySQLWSPort" binding="tns:ProductoParaElCuidadoPersonalYDelHogarMySQLWSPortBinding">
      <soap:address location="http://localhost:8080/ZAP2WS/ProductoParaElCuidadoPersonalYDelHogarMySQLWS" />
    </port>
  </service>
</definitions>