ZAP2Frontend_C#/InterfacesTrabajoGrupal/Connected Services/ServiciosWS/SupervisorWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="ZAP2WS" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="SupervisorWS" targetNamespace="ZAP2WS" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/ZAP2WS/SupervisorWS?xsd=1" namespace="ZAP2WS" />
    </xsd:schema>
  </types>
  <message name="insertarSupervisor">
    <part name="parameters" element="tns:insertarSupervisor" />
  </message>
  <message name="insertarSupervisorResponse">
    <part name="parameters" element="tns:insertarSupervisorResponse" />
  </message>
  <message name="eliminarSupervisor">
    <part name="parameters" element="tns:eliminarSupervisor" />
  </message>
  <message name="eliminarSupervisorResponse">
    <part name="parameters" element="tns:eliminarSupervisorResponse" />
  </message>
  <message name="modificarSupervisor">
    <part name="parameters" element="tns:modificarSupervisor" />
  </message>
  <message name="modificarSupervisorResponse">
    <part name="parameters" element="tns:modificarSupervisorResponse" />
  </message>
  <message name="listarSupervisorTodos">
    <part name="parameters" element="tns:listarSupervisorTodos" />
  </message>
  <message name="listarSupervisorTodosResponse">
    <part name="parameters" element="tns:listarSupervisorTodosResponse" />
  </message>
  <portType name="SupervisorWS">
    <operation name="insertarSupervisor">
      <input wsam:Action="ZAP2WS/SupervisorWS/insertarSupervisorRequest" message="tns:insertarSupervisor" />
      <output wsam:Action="ZAP2WS/SupervisorWS/insertarSupervisorResponse" message="tns:insertarSupervisorResponse" />
    </operation>
    <operation name="eliminarSupervisor">
      <input wsam:Action="ZAP2WS/SupervisorWS/eliminarSupervisorRequest" message="tns:eliminarSupervisor" />
      <output wsam:Action="ZAP2WS/SupervisorWS/eliminarSupervisorResponse" message="tns:eliminarSupervisorResponse" />
    </operation>
    <operation name="modificarSupervisor">
      <input wsam:Action="ZAP2WS/SupervisorWS/modificarSupervisorRequest" message="tns:modificarSupervisor" />
      <output wsam:Action="ZAP2WS/SupervisorWS/modificarSupervisorResponse" message="tns:modificarSupervisorResponse" />
    </operation>
    <operation name="listarSupervisorTodos">
      <input wsam:Action="ZAP2WS/SupervisorWS/listarSupervisorTodosRequest" message="tns:listarSupervisorTodos" />
      <output wsam:Action="ZAP2WS/SupervisorWS/listarSupervisorTodosResponse" message="tns:listarSupervisorTodosResponse" />
    </operation>
  </portType>
  <binding name="SupervisorWSPortBinding" type="tns:SupervisorWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="insertarSupervisor">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarSupervisor">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarSupervisor">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarSupervisorTodos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="SupervisorWS">
    <port name="SupervisorWSPort" binding="tns:SupervisorWSPortBinding">
      <soap:address location="http://localhost:8080/ZAP2WS/SupervisorWS" />
    </port>
  </service>
</definitions>