ZAP2Frontend_C#/InterfacesTrabajoGrupal/Connected Services/ServiciosWS/SurcursalWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="ZAP2WS" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="SurcursalWS" targetNamespace="ZAP2WS" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/ZAP2WS/SurcursalWS?xsd=1" namespace="ZAP2WS" />
    </xsd:schema>
  </types>
  <message name="insertarSucursal">
    <part name="parameters" element="tns:insertarSucursal" />
  </message>
  <message name="insertarSucursalResponse">
    <part name="parameters" element="tns:insertarSucursalResponse" />
  </message>
  <message name="eliminarSucursal">
    <part name="parameters" element="tns:eliminarSucursal" />
  </message>
  <message name="eliminarSucursalResponse">
    <part name="parameters" element="tns:eliminarSucursalResponse" />
  </message>
  <message name="modificarSucursal">
    <part name="parameters" element="tns:modificarSucursal" />
  </message>
  <message name="modificarSucursalResponse">
    <part name="parameters" element="tns:modificarSucursalResponse" />
  </message>
  <message name="listarSucursalTodas">
    <part name="parameters" element="tns:listarSucursalTodas" />
  </message>
  <message name="listarSucursalTodasResponse">
    <part name="parameters" element="tns:listarSucursalTodasResponse" />
  </message>
  <portType name="SurcursalWS">
    <operation name="insertarSucursal">
      <input wsam:Action="ZAP2WS/SurcursalWS/insertarSucursalRequest" message="tns:insertarSucursal" />
      <output wsam:Action="ZAP2WS/SurcursalWS/insertarSucursalResponse" message="tns:insertarSucursalResponse" />
    </operation>
    <operation name="eliminarSucursal">
      <input wsam:Action="ZAP2WS/SurcursalWS/eliminarSucursalRequest" message="tns:eliminarSucursal" />
      <output wsam:Action="ZAP2WS/SurcursalWS/eliminarSucursalResponse" message="tns:eliminarSucursalResponse" />
    </operation>
    <operation name="modificarSucursal">
      <input wsam:Action="ZAP2WS/SurcursalWS/modificarSucursalRequest" message="tns:modificarSucursal" />
      <output wsam:Action="ZAP2WS/SurcursalWS/modificarSucursalResponse" message="tns:modificarSucursalResponse" />
    </operation>
    <operation name="listarSucursalTodas">
      <input wsam:Action="ZAP2WS/SurcursalWS/listarSucursalTodasRequest" message="tns:listarSucursalTodas" />
      <output wsam:Action="ZAP2WS/SurcursalWS/listarSucursalTodasResponse" message="tns:listarSucursalTodasResponse" />
    </operation>
  </portType>
  <binding name="SurcursalWSPortBinding" type="tns:SurcursalWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="insertarSucursal">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarSucursal">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarSucursal">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarSucursalTodas">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="SurcursalWS">
    <port name="SurcursalWSPort" binding="tns:SurcursalWSPortBinding">
      <soap:address location="http://localhost:8080/ZAP2WS/SurcursalWS" />
    </port>
  </service>
</definitions>