ZAP2Frontend_C#/InterfacesTrabajoGrupal/Connected Services/ServiciosWS/TarjetaWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="ZAP2WS" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="TarjetaWS" targetNamespace="ZAP2WS" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/ZAP2WS/TarjetaWS?xsd=1" namespace="ZAP2WS" />
    </xsd:schema>
  </types>
  <message name="modificarTarjeta">
    <part name="parameters" element="tns:modificarTarjeta" />
  </message>
  <message name="modificarTarjetaResponse">
    <part name="parameters" element="tns:modificarTarjetaResponse" />
  </message>
  <message name="insertarTarjeta">
    <part name="parameters" element="tns:insertarTarjeta" />
  </message>
  <message name="insertarTarjetaResponse">
    <part name="parameters" element="tns:insertarTarjetaResponse" />
  </message>
  <message name="eliminarTarjeta">
    <part name="parameters" element="tns:eliminarTarjeta" />
  </message>
  <message name="eliminarTarjetaResponse">
    <part name="parameters" element="tns:eliminarTarjetaResponse" />
  </message>
  <message name="listarTarjetasTodas">
    <part name="parameters" element="tns:listarTarjetasTodas" />
  </message>
  <message name="listarTarjetasTodasResponse">
    <part name="parameters" element="tns:listarTarjetasTodasResponse" />
  </message>
  <portType name="TarjetaWS">
    <operation name="modificarTarjeta">
      <input wsam:Action="ZAP2WS/TarjetaWS/modificarTarjetaRequest" message="tns:modificarTarjeta" />
      <output wsam:Action="ZAP2WS/TarjetaWS/modificarTarjetaResponse" message="tns:modificarTarjetaResponse" />
    </operation>
    <operation name="insertarTarjeta">
      <input wsam:Action="ZAP2WS/TarjetaWS/insertarTarjetaRequest" message="tns:insertarTarjeta" />
      <output wsam:Action="ZAP2WS/TarjetaWS/insertarTarjetaResponse" message="tns:insertarTarjetaResponse" />
    </operation>
    <operation name="eliminarTarjeta">
      <input wsam:Action="ZAP2WS/TarjetaWS/eliminarTarjetaRequest" message="tns:eliminarTarjeta" />
      <output wsam:Action="ZAP2WS/TarjetaWS/eliminarTarjetaResponse" message="tns:eliminarTarjetaResponse" />
    </operation>
    <operation name="listarTarjetasTodas">
      <input wsam:Action="ZAP2WS/TarjetaWS/listarTarjetasTodasRequest" message="tns:listarTarjetasTodas" />
      <output wsam:Action="ZAP2WS/TarjetaWS/listarTarjetasTodasResponse" message="tns:listarTarjetasTodasResponse" />
    </operation>
  </portType>
  <binding name="TarjetaWSPortBinding" type="tns:TarjetaWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="modificarTarjeta">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarTarjeta">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarTarjeta">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTarjetasTodas">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="TarjetaWS">
    <port name="TarjetaWSPort" binding="tns:TarjetaWSPortBinding">
      <soap:address location="http://localhost:8080/ZAP2WS/TarjetaWS" />
    </port>
  </service>
</definitions>