ZAP2Frontend_C#/InterfacesTrabajoGrupal/Connected Services/ServicioWS/AlmacenWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="ZAP2WS" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="AlmacenWS" targetNamespace="ZAP2WS" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/ZAP2WS/AlmacenWS?xsd=1" namespace="ZAP2WS" />
    </xsd:schema>
  </types>
  <message name="insertarAlmacen">
    <part name="parameters" element="tns:insertarAlmacen" />
  </message>
  <message name="insertarAlmacenResponse">
    <part name="parameters" element="tns:insertarAlmacenResponse" />
  </message>
  <message name="listarAlmacen">
    <part name="parameters" element="tns:listarAlmacen" />
  </message>
  <message name="listarAlmacenResponse">
    <part name="parameters" element="tns:listarAlmacenResponse" />
  </message>
  <message name="modificarAlmacen">
    <part name="parameters" element="tns:modificarAlmacen" />
  </message>
  <message name="modificarAlmacenResponse">
    <part name="parameters" element="tns:modificarAlmacenResponse" />
  </message>
  <message name="eliminarAlmacen">
    <part name="parameters" element="tns:eliminarAlmacen" />
  </message>
  <message name="eliminarAlmacenResponse">
    <part name="parameters" element="tns:eliminarAlmacenResponse" />
  </message>
  <message name="buscarAlmacen">
    <part name="parameters" element="tns:buscarAlmacen" />
  </message>
  <message name="buscarAlmacenResponse">
    <part name="parameters" element="tns:buscarAlmacenResponse" />
  </message>
  <portType name="AlmacenWS">
    <operation name="insertarAlmacen">
      <input wsam:Action="ZAP2WS/AlmacenWS/insertarAlmacenRequest" message="tns:insertarAlmacen" />
      <output wsam:Action="ZAP2WS/AlmacenWS/insertarAlmacenResponse" message="tns:insertarAlmacenResponse" />
    </operation>
    <operation name="listarAlmacen">
      <input wsam:Action="ZAP2WS/AlmacenWS/listarAlmacenRequest" message="tns:listarAlmacen" />
      <output wsam:Action="ZAP2WS/AlmacenWS/listarAlmacenResponse" message="tns:listarAlmacenResponse" />
    </operation>
    <operation name="modificarAlmacen">
      <input wsam:Action="ZAP2WS/AlmacenWS/modificarAlmacenRequest" message="tns:modificarAlmacen" />
      <output wsam:Action="ZAP2WS/AlmacenWS/modificarAlmacenResponse" message="tns:modificarAlmacenResponse" />
    </operation>
    <operation name="eliminarAlmacen">
      <input wsam:Action="ZAP2WS/AlmacenWS/eliminarAlmacenRequest" message="tns:eliminarAlmacen" />
      <output wsam:Action="ZAP2WS/AlmacenWS/eliminarAlmacenResponse" message="tns:eliminarAlmacenResponse" />
    </operation>
    <operation name="buscarAlmacen">
      <input wsam:Action="ZAP2WS/AlmacenWS/buscarAlmacenRequest" message="tns:buscarAlmacen" />
      <output wsam:Action="ZAP2WS/AlmacenWS/buscarAlmacenResponse" message="tns:buscarAlmacenResponse" />
    </operation>
  </portType>
  <binding name="AlmacenWSPortBinding" type="tns:AlmacenWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="insertarAlmacen">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarAlmacen">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarAlmacen">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarAlmacen">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="buscarAlmacen">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="AlmacenWS">
    <port name="AlmacenWSPort" binding="tns:AlmacenWSPortBinding">
      <soap:address location="http://localhost:8080/ZAP2WS/AlmacenWS" />
    </port>
  </service>
</definitions>