ZAP2Frontend_C#/InterfacesTrabajoGrupal/Connected Services/ServicioWS/AreaWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="ZAP2WS" targetNamespace="ZAP2WS" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="BuscarSucursalPorElIDAREA" type="tns:BuscarSucursalPorElIDAREA" />
  <xs:element name="BuscarSucursalPorElIDAREAResponse" type="tns:BuscarSucursalPorElIDAREAResponse" />
  <xs:element name="ListarProductosDelArea" type="tns:ListarProductosDelArea" />
  <xs:element name="ListarProductosDelAreaResponse" type="tns:ListarProductosDelAreaResponse" />
  <xs:element name="buscarArea" type="tns:buscarArea" />
  <xs:element name="buscarAreaResponse" type="tns:buscarAreaResponse" />
  <xs:element name="eliminarArea" type="tns:eliminarArea" />
  <xs:element name="eliminarAreaProducto" type="tns:eliminarAreaProducto" />
  <xs:element name="eliminarAreaProductoResponse" type="tns:eliminarAreaProductoResponse" />
  <xs:element name="eliminarAreaResponse" type="tns:eliminarAreaResponse" />
  <xs:element name="insertarArea" type="tns:insertarArea" />
  <xs:element name="insertarAreaProducto" type="tns:insertarAreaProducto" />
  <xs:element name="insertarAreaProductoResponse" type="tns:insertarAreaProductoResponse" />
  <xs:element name="insertarAreaResponse" type="tns:insertarAreaResponse" />
  <xs:element name="listarArea" type="tns:listarArea" />
  <xs:element name="listarAreaConSucursales" type="tns:listarAreaConSucursales" />
  <xs:element name="listarAreaConSucursalesResponse" type="tns:listarAreaConSucursalesResponse" />
  <xs:element name="listarAreaResponse" type="tns:listarAreaResponse" />
  <xs:element name="modificarArea" type="tns:modificarArea" />
  <xs:element name="modificarAreaResponse" type="tns:modificarAreaResponse" />
  <xs:complexType name="insertarArea">
    <xs:sequence>
      <xs:element minOccurs="0" name="area" type="tns:area" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="area">
    <xs:sequence>
      <xs:element name="idArea" type="xs:int" />
      <xs:element name="idAreaProducto" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="productos" nillable="true" type="tns:producto" />
      <xs:element minOccurs="0" name="sucursal" type="tns:sucursal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="producto">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element name="cantidadComprada" type="xs:int" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="idAreaProducto" type="xs:int" />
      <xs:element name="idProducto" type="xs:int" />
      <xs:element minOccurs="0" name="imagen" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="prodPrecio" type="tns:productoPrecio" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="productosPrecio" nillable="true" type="tns:productoPrecio" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="productoPrecio">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element minOccurs="0" name="descuento" type="tns:descuento" />
      <xs:element name="idProductoPrecio" type="xs:int" />
      <xs:element name="precio" type="xs:double" />
      <xs:element minOccurs="0" name="producto" type="tns:producto" />
      <xs:element minOccurs="0" name="sucursal" type="tns:sucursal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="descuento">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element name="descuentoAplicado" type="xs:double" />
      <xs:element minOccurs="0" name="fechaFinal" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaInicial" type="xs:dateTime" />
      <xs:element name="idDescuento" type="xs:int" />
      <xs:element name="pp" type="xs:double" />
      <xs:element minOccurs="0" name="prodPrecio" type="tns:productoPrecio" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sucursal">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="almacenes" nillable="true" type="tns:almacen" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="areas" nillable="true" type="tns:area" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element name="id_sucursal" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="producto" nillable="true" type="tns:productoPrecio" />
      <xs:element name="tam_metros" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="almacen">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="capacidadActualProductos" type="xs:double" />
      <xs:element name="capacidadMaximaProductos" type="xs:double" />
      <xs:element name="id_almacen" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="lote" nillable="true" type="tns:lote" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="lotes" nillable="true" type="tns:lote" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="movimientosLote" nillable="true" type="tns:movimientoLote" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="sucursal" type="tns:sucursal" />
      <xs:element minOccurs="0" name="tipoAlmacen" type="tns:tipoAlmacen" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="lote">
    <xs:sequence>
      <xs:element minOccurs="0" name="almacen" type="tns:almacen" />
      <xs:element name="idLote" type="xs:int" />
      <xs:element name="idPedido" type="xs:int" />
      <xs:element minOccurs="0" name="movLote" type="tns:movimientoLote" />
      <xs:element minOccurs="0" name="producto" type="tns:producto" />
      <xs:element name="stockActual" type="xs:int" />
      <xs:element name="stockInicial" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="movimientoLote">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element minOccurs="0" name="almacenEntrada" type="tns:almacen" />
      <xs:element minOccurs="0" name="almacenSalida" type="tns:almacen" />
      <xs:element name="cantidadProductosMovidos" type="xs:double" />
      <xs:element minOccurs="0" name="fechaMovimiento" type="xs:dateTime" />
      <xs:element name="idMovimientoLote" type="xs:int" />
      <xs:element minOccurs="0" name="lote" type="tns:lote" />
      <xs:element minOccurs="0" name="motivo" type="tns:tipoDeMotivoMovimientoAlmacen" />
      <xs:element name="movimientoEntrada" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarAreaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarArea">
    <xs:sequence>
      <xs:element name="idArea" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarAreaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarAreaProducto">
    <xs:sequence>
      <xs:element name="Idarea" type="xs:int" />
      <xs:element name="IdProducto" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarAreaProductoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListarProductosDelArea">
    <xs:sequence>
      <xs:element name="idArea" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListarProductosDelAreaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:area" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BuscarSucursalPorElIDAREA">
    <xs:sequence>
      <xs:element name="idArea" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BuscarSucursalPorElIDAREAResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:sucursal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarAreaProducto">
    <xs:sequence>
      <xs:element name="idAreaProducto" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarAreaProductoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarArea">
    <xs:sequence>
      <xs:element minOccurs="0" name="area" type="tns:area" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarAreaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarArea">
    <xs:sequence>
      <xs:element name="idArea" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarAreaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:area" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarArea">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarAreaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:area" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarAreaConSucursales">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarAreaConSucursalesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:area" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="tipoDeMotivoMovimientoAlmacen">
    <xs:restriction base="xs:string">
      <xs:enumeration value="traslado" />
      <xs:enumeration value="compra" />
      <xs:enumeration value="venta" />
      <xs:enumeration value="perdida" />
      <xs:enumeration value="devolucionCliente" />
      <xs:enumeration value="devolucionProveedor" />
      <xs:enumeration value="daño" />
      <xs:enumeration value="donacion" />
      <xs:enumeration value="inventario" />
      <xs:enumeration value="reposicionAnaqueles" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipoAlmacen">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AlmacenComun" />
      <xs:enumeration value="Congeladora" />
      <xs:enumeration value="Refrigeradora" />
      <xs:enumeration value="AlmacenSeco" />
      <xs:enumeration value="AlmacenDeProductosQuimicos" />
      <xs:enumeration value="AlmacenElectronicos" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>