ZAP2Frontend_C#/InterfacesTrabajoGrupal/Connected Services/ServicioWS/BancoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="ZAP2WS" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="BancoWS" targetNamespace="ZAP2WS" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/ZAP2WS/BancoWS?xsd=1" namespace="ZAP2WS" />
    </xsd:schema>
  </types>
  <message name="buscarBanco">
    <part name="parameters" element="tns:buscarBanco" />
  </message>
  <message name="buscarBancoResponse">
    <part name="parameters" element="tns:buscarBancoResponse" />
  </message>
  <message name="modificarBanco">
    <part name="parameters" element="tns:modificarBanco" />
  </message>
  <message name="modificarBancoResponse">
    <part name="parameters" element="tns:modificarBancoResponse" />
  </message>
  <message name="eliminarBanco">
    <part name="parameters" element="tns:eliminarBanco" />
  </message>
  <message name="eliminarBancoResponse">
    <part name="parameters" element="tns:eliminarBancoResponse" />
  </message>
  <message name="listarBancosTodos">
    <part name="parameters" element="tns:listarBancosTodos" />
  </message>
  <message name="listarBancosTodosResponse">
    <part name="parameters" element="tns:listarBancosTodosResponse" />
  </message>
  <message name="insertarBanco">
    <part name="parameters" element="tns:insertarBanco" />
  </message>
  <message name="insertarBancoResponse">
    <part name="parameters" element="tns:insertarBancoResponse" />
  </message>
  <portType name="BancoWS">
    <operation name="buscarBanco">
      <input wsam:Action="ZAP2WS/BancoWS/buscarBancoRequest" message="tns:buscarBanco" />
      <output wsam:Action="ZAP2WS/BancoWS/buscarBancoResponse" message="tns:buscarBancoResponse" />
    </operation>
    <operation name="modificarBanco">
      <input wsam:Action="ZAP2WS/BancoWS/modificarBancoRequest" message="tns:modificarBanco" />
      <output wsam:Action="ZAP2WS/BancoWS/modificarBancoResponse" message="tns:modificarBancoResponse" />
    </operation>
    <operation name="eliminarBanco">
      <input wsam:Action="ZAP2WS/BancoWS/eliminarBancoRequest" message="tns:eliminarBanco" />
      <output wsam:Action="ZAP2WS/BancoWS/eliminarBancoResponse" message="tns:eliminarBancoResponse" />
    </operation>
    <operation name="listarBancosTodos">
      <input wsam:Action="ZAP2WS/BancoWS/listarBancosTodosRequest" message="tns:listarBancosTodos" />
      <output wsam:Action="ZAP2WS/BancoWS/listarBancosTodosResponse" message="tns:listarBancosTodosResponse" />
    </operation>
    <operation name="insertarBanco">
      <input wsam:Action="ZAP2WS/BancoWS/insertarBancoRequest" message="tns:insertarBanco" />
      <output wsam:Action="ZAP2WS/BancoWS/insertarBancoResponse" message="tns:insertarBancoResponse" />
    </operation>
  </portType>
  <binding name="BancoWSPortBinding" type="tns:BancoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="buscarBanco">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarBanco">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarBanco">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarBancosTodos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarBanco">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="BancoWS">
    <port name="BancoWSPort" binding="tns:BancoWSPortBinding">
      <soap:address location="http://localhost:8080/ZAP2WS/BancoWS" />
    </port>
  </service>
</definitions>