ZAP2Frontend_C#/InterfacesTrabajoGrupal/Connected Services/ServicioWS/Boleta_VentaWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="ZAP2WS" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Boleta_VentaWS" targetNamespace="ZAP2WS" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/ZAP2WS/Boleta_VentaWS?xsd=1" namespace="ZAP2WS" />
    </xsd:schema>
  </types>
  <message name="listarBoletaVentaTodos">
    <part name="parameters" element="tns:listarBoletaVentaTodos" />
  </message>
  <message name="listarBoletaVentaTodosResponse">
    <part name="parameters" element="tns:listarBoletaVentaTodosResponse" />
  </message>
  <message name="eliminarBoletaVenta">
    <part name="parameters" element="tns:eliminarBoletaVenta" />
  </message>
  <message name="eliminarBoletaVentaResponse">
    <part name="parameters" element="tns:eliminarBoletaVentaResponse" />
  </message>
  <message name="modificarBoletaVenta">
    <part name="parameters" element="tns:modificarBoletaVenta" />
  </message>
  <message name="modificarBoletaVentaResponse">
    <part name="parameters" element="tns:modificarBoletaVentaResponse" />
  </message>
  <message name="insertarBoletaVenta">
    <part name="parameters" element="tns:insertarBoletaVenta" />
  </message>
  <message name="insertarBoletaVentaResponse">
    <part name="parameters" element="tns:insertarBoletaVentaResponse" />
  </message>
  <portType name="Boleta_VentaWS">
    <operation name="listarBoletaVentaTodos">
      <input wsam:Action="ZAP2WS/Boleta_VentaWS/listarBoletaVentaTodosRequest" message="tns:listarBoletaVentaTodos" />
      <output wsam:Action="ZAP2WS/Boleta_VentaWS/listarBoletaVentaTodosResponse" message="tns:listarBoletaVentaTodosResponse" />
    </operation>
    <operation name="eliminarBoletaVenta">
      <input wsam:Action="ZAP2WS/Boleta_VentaWS/eliminarBoletaVentaRequest" message="tns:eliminarBoletaVenta" />
      <output wsam:Action="ZAP2WS/Boleta_VentaWS/eliminarBoletaVentaResponse" message="tns:eliminarBoletaVentaResponse" />
    </operation>
    <operation name="modificarBoletaVenta">
      <input wsam:Action="ZAP2WS/Boleta_VentaWS/modificarBoletaVentaRequest" message="tns:modificarBoletaVenta" />
      <output wsam:Action="ZAP2WS/Boleta_VentaWS/modificarBoletaVentaResponse" message="tns:modificarBoletaVentaResponse" />
    </operation>
    <operation name="insertarBoletaVenta">
      <input wsam:Action="ZAP2WS/Boleta_VentaWS/insertarBoletaVentaRequest" message="tns:insertarBoletaVenta" />
      <output wsam:Action="ZAP2WS/Boleta_VentaWS/insertarBoletaVentaResponse" message="tns:insertarBoletaVentaResponse" />
    </operation>
  </portType>
  <binding name="Boleta_VentaWSPortBinding" type="tns:Boleta_VentaWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarBoletaVentaTodos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarBoletaVenta">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarBoletaVenta">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarBoletaVenta">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Boleta_VentaWS">
    <port name="Boleta_VentaWSPort" binding="tns:Boleta_VentaWSPortBinding">
      <soap:address location="http://localhost:8080/ZAP2WS/Boleta_VentaWS" />
    </port>
  </service>
</definitions>