ZAP2Frontend_C#/InterfacesTrabajoGrupal/Connected Services/ServicioWS/CajeroWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="ZAP2WS" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="CajeroWS" targetNamespace="ZAP2WS" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/ZAP2WS/CajeroWS?xsd=1" namespace="ZAP2WS" />
    </xsd:schema>
  </types>
  <message name="insertarCajero">
    <part name="parameters" element="tns:insertarCajero" />
  </message>
  <message name="insertarCajeroResponse">
    <part name="parameters" element="tns:insertarCajeroResponse" />
  </message>
  <message name="eliminarCajero">
    <part name="parameters" element="tns:eliminarCajero" />
  </message>
  <message name="eliminarCajeroResponse">
    <part name="parameters" element="tns:eliminarCajeroResponse" />
  </message>
  <message name="modificarCajero">
    <part name="parameters" element="tns:modificarCajero" />
  </message>
  <message name="modificarCajeroResponse">
    <part name="parameters" element="tns:modificarCajeroResponse" />
  </message>
  <message name="listarCajeros">
    <part name="parameters" element="tns:listarCajeros" />
  </message>
  <message name="listarCajerosResponse">
    <part name="parameters" element="tns:listarCajerosResponse" />
  </message>
  <message name="buscarCajero">
    <part name="parameters" element="tns:buscarCajero" />
  </message>
  <message name="buscarCajeroResponse">
    <part name="parameters" element="tns:buscarCajeroResponse" />
  </message>
  <portType name="CajeroWS">
    <operation name="insertarCajero">
      <input wsam:Action="ZAP2WS/CajeroWS/insertarCajeroRequest" message="tns:insertarCajero" />
      <output wsam:Action="ZAP2WS/CajeroWS/insertarCajeroResponse" message="tns:insertarCajeroResponse" />
    </operation>
    <operation name="eliminarCajero">
      <input wsam:Action="ZAP2WS/CajeroWS/eliminarCajeroRequest" message="tns:eliminarCajero" />
      <output wsam:Action="ZAP2WS/CajeroWS/eliminarCajeroResponse" message="tns:eliminarCajeroResponse" />
    </operation>
    <operation name="modificarCajero">
      <input wsam:Action="ZAP2WS/CajeroWS/modificarCajeroRequest" message="tns:modificarCajero" />
      <output wsam:Action="ZAP2WS/CajeroWS/modificarCajeroResponse" message="tns:modificarCajeroResponse" />
    </operation>
    <operation name="listarCajeros">
      <input wsam:Action="ZAP2WS/CajeroWS/listarCajerosRequest" message="tns:listarCajeros" />
      <output wsam:Action="ZAP2WS/CajeroWS/listarCajerosResponse" message="tns:listarCajerosResponse" />
    </operation>
    <operation name="buscarCajero">
      <input wsam:Action="ZAP2WS/CajeroWS/buscarCajeroRequest" message="tns:buscarCajero" />
      <output wsam:Action="ZAP2WS/CajeroWS/buscarCajeroResponse" message="tns:buscarCajeroResponse" />
    </operation>
  </portType>
  <binding name="CajeroWSPortBinding" type="tns:CajeroWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="insertarCajero">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarCajero">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarCajero">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarCajeros">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="buscarCajero">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="CajeroWS">
    <port name="CajeroWSPort" binding="tns:CajeroWSPortBinding">
      <soap:address location="http://localhost:8080/ZAP2WS/CajeroWS" />
    </port>
  </service>
</definitions>