ZAP2Frontend_C#/InterfacesTrabajoGrupal/Connected Services/ServicioWS/ClienteWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="ZAP2WS" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ClienteWS" targetNamespace="ZAP2WS" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/ZAP2WS/ClienteWS?xsd=1" namespace="ZAP2WS" />
    </xsd:schema>
  </types>
  <message name="listarClientesPorNombre">
    <part name="parameters" element="tns:listarClientesPorNombre" />
  </message>
  <message name="listarClientesPorNombreResponse">
    <part name="parameters" element="tns:listarClientesPorNombreResponse" />
  </message>
  <message name="insertarCliente">
    <part name="parameters" element="tns:insertarCliente" />
  </message>
  <message name="insertarClienteResponse">
    <part name="parameters" element="tns:insertarClienteResponse" />
  </message>
  <message name="buscarCliente">
    <part name="parameters" element="tns:buscarCliente" />
  </message>
  <message name="buscarClienteResponse">
    <part name="parameters" element="tns:buscarClienteResponse" />
  </message>
  <message name="listarClientes">
    <part name="parameters" element="tns:listarClientes" />
  </message>
  <message name="listarClientesResponse">
    <part name="parameters" element="tns:listarClientesResponse" />
  </message>
  <message name="eliminarCliente">
    <part name="parameters" element="tns:eliminarCliente" />
  </message>
  <message name="eliminarClienteResponse">
    <part name="parameters" element="tns:eliminarClienteResponse" />
  </message>
  <message name="modificarCliente">
    <part name="parameters" element="tns:modificarCliente" />
  </message>
  <message name="modificarClienteResponse">
    <part name="parameters" element="tns:modificarClienteResponse" />
  </message>
  <message name="buscarPersonaNatural">
    <part name="parameters" element="tns:buscarPersonaNatural" />
  </message>
  <message name="buscarPersonaNaturalResponse">
    <part name="parameters" element="tns:buscarPersonaNaturalResponse" />
  </message>
  <portType name="ClienteWS">
    <operation name="listarClientesPorNombre">
      <input wsam:Action="ZAP2WS/ClienteWS/listarClientesPorNombreRequest" message="tns:listarClientesPorNombre" />
      <output wsam:Action="ZAP2WS/ClienteWS/listarClientesPorNombreResponse" message="tns:listarClientesPorNombreResponse" />
    </operation>
    <operation name="insertarCliente">
      <input wsam:Action="ZAP2WS/ClienteWS/insertarClienteRequest" message="tns:insertarCliente" />
      <output wsam:Action="ZAP2WS/ClienteWS/insertarClienteResponse" message="tns:insertarClienteResponse" />
    </operation>
    <operation name="buscarCliente">
      <input wsam:Action="ZAP2WS/ClienteWS/buscarClienteRequest" message="tns:buscarCliente" />
      <output wsam:Action="ZAP2WS/ClienteWS/buscarClienteResponse" message="tns:buscarClienteResponse" />
    </operation>
    <operation name="listarClientes">
      <input wsam:Action="ZAP2WS/ClienteWS/listarClientesRequest" message="tns:listarClientes" />
      <output wsam:Action="ZAP2WS/ClienteWS/listarClientesResponse" message="tns:listarClientesResponse" />
    </operation>
    <operation name="eliminarCliente">
      <input wsam:Action="ZAP2WS/ClienteWS/eliminarClienteRequest" message="tns:eliminarCliente" />
      <output wsam:Action="ZAP2WS/ClienteWS/eliminarClienteResponse" message="tns:eliminarClienteResponse" />
    </operation>
    <operation name="modificarCliente">
      <input wsam:Action="ZAP2WS/ClienteWS/modificarClienteRequest" message="tns:modificarCliente" />
      <output wsam:Action="ZAP2WS/ClienteWS/modificarClienteResponse" message="tns:modificarClienteResponse" />
    </operation>
    <operation name="buscarPersonaNatural">
      <input wsam:Action="ZAP2WS/ClienteWS/buscarPersonaNaturalRequest" message="tns:buscarPersonaNatural" />
      <output wsam:Action="ZAP2WS/ClienteWS/buscarPersonaNaturalResponse" message="tns:buscarPersonaNaturalResponse" />
    </operation>
  </portType>
  <binding name="ClienteWSPortBinding" type="tns:ClienteWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarClientesPorNombre">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarCliente">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="buscarCliente">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarClientes">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarCliente">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarCliente">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="buscarPersonaNatural">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ClienteWS">
    <port name="ClienteWSPort" binding="tns:ClienteWSPortBinding">
      <soap:address location="http://localhost:8080/ZAP2WS/ClienteWS" />
    </port>
  </service>
</definitions>