ZAP2Frontend_C#/InterfacesTrabajoGrupal/Connected Services/ServicioWS/CuentaUsuarioWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="ZAP2WS" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="CuentaUsuarioWS" targetNamespace="ZAP2WS" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/ZAP2WS/CuentaUsuarioWS?xsd=1" namespace="ZAP2WS" />
    </xsd:schema>
  </types>
  <message name="VerificarCuenta">
    <part name="parameters" element="tns:VerificarCuenta" />
  </message>
  <message name="VerificarCuentaResponse">
    <part name="parameters" element="tns:VerificarCuentaResponse" />
  </message>
  <message name="insertarCuentaUsuario">
    <part name="parameters" element="tns:insertarCuentaUsuario" />
  </message>
  <message name="insertarCuentaUsuarioResponse">
    <part name="parameters" element="tns:insertarCuentaUsuarioResponse" />
  </message>
  <message name="modificarCuentaUsuario">
    <part name="parameters" element="tns:modificarCuentaUsuario" />
  </message>
  <message name="modificarCuentaUsuarioResponse">
    <part name="parameters" element="tns:modificarCuentaUsuarioResponse" />
  </message>
  <message name="listarCuentaUsuarios">
    <part name="parameters" element="tns:listarCuentaUsuarios" />
  </message>
  <message name="listarCuentaUsuariosResponse">
    <part name="parameters" element="tns:listarCuentaUsuariosResponse" />
  </message>
  <message name="eliminarCuentaUsuario">
    <part name="parameters" element="tns:eliminarCuentaUsuario" />
  </message>
  <message name="eliminarCuentaUsuarioResponse">
    <part name="parameters" element="tns:eliminarCuentaUsuarioResponse" />
  </message>
  <portType name="CuentaUsuarioWS">
    <operation name="VerificarCuenta">
      <input wsam:Action="ZAP2WS/CuentaUsuarioWS/VerificarCuentaRequest" message="tns:VerificarCuenta" />
      <output wsam:Action="ZAP2WS/CuentaUsuarioWS/VerificarCuentaResponse" message="tns:VerificarCuentaResponse" />
    </operation>
    <operation name="insertarCuentaUsuario">
      <input wsam:Action="ZAP2WS/CuentaUsuarioWS/insertarCuentaUsuarioRequest" message="tns:insertarCuentaUsuario" />
      <output wsam:Action="ZAP2WS/CuentaUsuarioWS/insertarCuentaUsuarioResponse" message="tns:insertarCuentaUsuarioResponse" />
    </operation>
    <operation name="modificarCuentaUsuario">
      <input wsam:Action="ZAP2WS/CuentaUsuarioWS/modificarCuentaUsuarioRequest" message="tns:modificarCuentaUsuario" />
      <output wsam:Action="ZAP2WS/CuentaUsuarioWS/modificarCuentaUsuarioResponse" message="tns:modificarCuentaUsuarioResponse" />
    </operation>
    <operation name="listarCuentaUsuarios">
      <input wsam:Action="ZAP2WS/CuentaUsuarioWS/listarCuentaUsuariosRequest" message="tns:listarCuentaUsuarios" />
      <output wsam:Action="ZAP2WS/CuentaUsuarioWS/listarCuentaUsuariosResponse" message="tns:listarCuentaUsuariosResponse" />
    </operation>
    <operation name="eliminarCuentaUsuario">
      <input wsam:Action="ZAP2WS/CuentaUsuarioWS/eliminarCuentaUsuarioRequest" message="tns:eliminarCuentaUsuario" />
      <output wsam:Action="ZAP2WS/CuentaUsuarioWS/eliminarCuentaUsuarioResponse" message="tns:eliminarCuentaUsuarioResponse" />
    </operation>
  </portType>
  <binding name="CuentaUsuarioWSPortBinding" type="tns:CuentaUsuarioWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="VerificarCuenta">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarCuentaUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarCuentaUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarCuentaUsuarios">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarCuentaUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="CuentaUsuarioWS">
    <port name="CuentaUsuarioWSPort" binding="tns:CuentaUsuarioWSPortBinding">
      <soap:address location="http://localhost:8080/ZAP2WS/CuentaUsuarioWS" />
    </port>
  </service>
</definitions>