ZAP2Frontend_C#/InterfacesTrabajoGrupal/Connected Services/ServicioWS/Detalle_PedidoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="ZAP2WS" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Detalle_PedidoWS" targetNamespace="ZAP2WS" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/ZAP2WS/Detalle_PedidoWS?xsd=1" namespace="ZAP2WS" />
    </xsd:schema>
  </types>
  <message name="modificarDetallePedido">
    <part name="parameters" element="tns:modificarDetallePedido" />
  </message>
  <message name="modificarDetallePedidoResponse">
    <part name="parameters" element="tns:modificarDetallePedidoResponse" />
  </message>
  <message name="insertarDetallePedido">
    <part name="parameters" element="tns:insertarDetallePedido" />
  </message>
  <message name="insertarDetallePedidoResponse">
    <part name="parameters" element="tns:insertarDetallePedidoResponse" />
  </message>
  <message name="listarDetallePedidos">
    <part name="parameters" element="tns:listarDetallePedidos" />
  </message>
  <message name="listarDetallePedidosResponse">
    <part name="parameters" element="tns:listarDetallePedidosResponse" />
  </message>
  <message name="eliminarDetallePedido">
    <part name="parameters" element="tns:eliminarDetallePedido" />
  </message>
  <message name="eliminarDetallePedidoResponse">
    <part name="parameters" element="tns:eliminarDetallePedidoResponse" />
  </message>
  <message name="listarDetallePedidosXId">
    <part name="parameters" element="tns:listarDetallePedidosXId" />
  </message>
  <message name="listarDetallePedidosXIdResponse">
    <part name="parameters" element="tns:listarDetallePedidosXIdResponse" />
  </message>
  <portType name="Detalle_PedidoWS">
    <operation name="modificarDetallePedido">
      <input wsam:Action="ZAP2WS/Detalle_PedidoWS/modificarDetallePedidoRequest" message="tns:modificarDetallePedido" />
      <output wsam:Action="ZAP2WS/Detalle_PedidoWS/modificarDetallePedidoResponse" message="tns:modificarDetallePedidoResponse" />
    </operation>
    <operation name="insertarDetallePedido">
      <input wsam:Action="ZAP2WS/Detalle_PedidoWS/insertarDetallePedidoRequest" message="tns:insertarDetallePedido" />
      <output wsam:Action="ZAP2WS/Detalle_PedidoWS/insertarDetallePedidoResponse" message="tns:insertarDetallePedidoResponse" />
    </operation>
    <operation name="listarDetallePedidos">
      <input wsam:Action="ZAP2WS/Detalle_PedidoWS/listarDetallePedidosRequest" message="tns:listarDetallePedidos" />
      <output wsam:Action="ZAP2WS/Detalle_PedidoWS/listarDetallePedidosResponse" message="tns:listarDetallePedidosResponse" />
    </operation>
    <operation name="eliminarDetallePedido">
      <input wsam:Action="ZAP2WS/Detalle_PedidoWS/eliminarDetallePedidoRequest" message="tns:eliminarDetallePedido" />
      <output wsam:Action="ZAP2WS/Detalle_PedidoWS/eliminarDetallePedidoResponse" message="tns:eliminarDetallePedidoResponse" />
    </operation>
    <operation name="listarDetallePedidosXId">
      <input wsam:Action="ZAP2WS/Detalle_PedidoWS/listarDetallePedidosXIdRequest" message="tns:listarDetallePedidosXId" />
      <output wsam:Action="ZAP2WS/Detalle_PedidoWS/listarDetallePedidosXIdResponse" message="tns:listarDetallePedidosXIdResponse" />
    </operation>
  </portType>
  <binding name="Detalle_PedidoWSPortBinding" type="tns:Detalle_PedidoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="modificarDetallePedido">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarDetallePedido">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarDetallePedidos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarDetallePedido">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarDetallePedidosXId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Detalle_PedidoWS">
    <port name="Detalle_PedidoWSPort" binding="tns:Detalle_PedidoWSPortBinding">
      <soap:address location="http://localhost:8080/ZAP2WS/Detalle_PedidoWS" />
    </port>
  </service>
</definitions>