ZAP2Frontend_C#/InterfacesTrabajoGrupal/Connected Services/ServicioWS/Documento_de_CompraWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="ZAP2WS" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Documento_de_CompraWS" targetNamespace="ZAP2WS" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/ZAP2WS/Documento_de_CompraWS?xsd=1" namespace="ZAP2WS" />
    </xsd:schema>
  </types>
  <message name="listarDocumentosCompras">
    <part name="parameters" element="tns:listarDocumentosCompras" />
  </message>
  <message name="listarDocumentosComprasResponse">
    <part name="parameters" element="tns:listarDocumentosComprasResponse" />
  </message>
  <message name="eliminarDocumentoCompra">
    <part name="parameters" element="tns:eliminarDocumentoCompra" />
  </message>
  <message name="eliminarDocumentoCompraResponse">
    <part name="parameters" element="tns:eliminarDocumentoCompraResponse" />
  </message>
  <message name="insertarDocumentoCompra">
    <part name="parameters" element="tns:insertarDocumentoCompra" />
  </message>
  <message name="insertarDocumentoCompraResponse">
    <part name="parameters" element="tns:insertarDocumentoCompraResponse" />
  </message>
  <message name="modificarDocumentoCompra">
    <part name="parameters" element="tns:modificarDocumentoCompra" />
  </message>
  <message name="modificarDocumentoCompraResponse">
    <part name="parameters" element="tns:modificarDocumentoCompraResponse" />
  </message>
  <message name="listarEgresos">
    <part name="parameters" element="tns:listarEgresos" />
  </message>
  <message name="listarEgresosResponse">
    <part name="parameters" element="tns:listarEgresosResponse" />
  </message>
  <portType name="Documento_de_CompraWS">
    <operation name="listarDocumentosCompras">
      <input wsam:Action="ZAP2WS/Documento_de_CompraWS/listarDocumentosComprasRequest" message="tns:listarDocumentosCompras" />
      <output wsam:Action="ZAP2WS/Documento_de_CompraWS/listarDocumentosComprasResponse" message="tns:listarDocumentosComprasResponse" />
    </operation>
    <operation name="eliminarDocumentoCompra">
      <input wsam:Action="ZAP2WS/Documento_de_CompraWS/eliminarDocumentoCompraRequest" message="tns:eliminarDocumentoCompra" />
      <output wsam:Action="ZAP2WS/Documento_de_CompraWS/eliminarDocumentoCompraResponse" message="tns:eliminarDocumentoCompraResponse" />
    </operation>
    <operation name="insertarDocumentoCompra">
      <input wsam:Action="ZAP2WS/Documento_de_CompraWS/insertarDocumentoCompraRequest" message="tns:insertarDocumentoCompra" />
      <output wsam:Action="ZAP2WS/Documento_de_CompraWS/insertarDocumentoCompraResponse" message="tns:insertarDocumentoCompraResponse" />
    </operation>
    <operation name="modificarDocumentoCompra">
      <input wsam:Action="ZAP2WS/Documento_de_CompraWS/modificarDocumentoCompraRequest" message="tns:modificarDocumentoCompra" />
      <output wsam:Action="ZAP2WS/Documento_de_CompraWS/modificarDocumentoCompraResponse" message="tns:modificarDocumentoCompraResponse" />
    </operation>
    <operation name="listarEgresos">
      <input wsam:Action="ZAP2WS/Documento_de_CompraWS/listarEgresosRequest" message="tns:listarEgresos" />
      <output wsam:Action="ZAP2WS/Documento_de_CompraWS/listarEgresosResponse" message="tns:listarEgresosResponse" />
    </operation>
  </portType>
  <binding name="Documento_de_CompraWSPortBinding" type="tns:Documento_de_CompraWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarDocumentosCompras">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarDocumentoCompra">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarDocumentoCompra">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarDocumentoCompra">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarEgresos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Documento_de_CompraWS">
    <port name="Documento_de_CompraWSPort" binding="tns:Documento_de_CompraWSPortBinding">
      <soap:address location="http://localhost:8080/ZAP2WS/Documento_de_CompraWS" />
    </port>
  </service>
</definitions>