ZAP2Frontend_C#/InterfacesTrabajoGrupal/Connected Services/ServicioWS/ElectrodomesticosWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="ZAP2WS" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ElectrodomesticosWS" targetNamespace="ZAP2WS" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/ZAP2WS/ElectrodomesticosWS?xsd=1" namespace="ZAP2WS" />
    </xsd:schema>
  </types>
  <message name="listarElectrodomesticos">
    <part name="parameters" element="tns:listarElectrodomesticos" />
  </message>
  <message name="listarElectrodomesticosResponse">
    <part name="parameters" element="tns:listarElectrodomesticosResponse" />
  </message>
  <message name="modificarElectrodomestico">
    <part name="parameters" element="tns:modificarElectrodomestico" />
  </message>
  <message name="modificarElectrodomesticoResponse">
    <part name="parameters" element="tns:modificarElectrodomesticoResponse" />
  </message>
  <message name="buscarElectrodomestico">
    <part name="parameters" element="tns:buscarElectrodomestico" />
  </message>
  <message name="buscarElectrodomesticoResponse">
    <part name="parameters" element="tns:buscarElectrodomesticoResponse" />
  </message>
  <message name="eliminarElectrodomestico">
    <part name="parameters" element="tns:eliminarElectrodomestico" />
  </message>
  <message name="eliminarElectrodomesticoResponse">
    <part name="parameters" element="tns:eliminarElectrodomesticoResponse" />
  </message>
  <message name="insertarElectrodomestico">
    <part name="parameters" element="tns:insertarElectrodomestico" />
  </message>
  <message name="insertarElectrodomesticoResponse">
    <part name="parameters" element="tns:insertarElectrodomesticoResponse" />
  </message>
  <portType name="ElectrodomesticosWS">
    <operation name="listarElectrodomesticos">
      <input wsam:Action="ZAP2WS/ElectrodomesticosWS/listarElectrodomesticosRequest" message="tns:listarElectrodomesticos" />
      <output wsam:Action="ZAP2WS/ElectrodomesticosWS/listarElectrodomesticosResponse" message="tns:listarElectrodomesticosResponse" />
    </operation>
    <operation name="modificarElectrodomestico">
      <input wsam:Action="ZAP2WS/ElectrodomesticosWS/modificarElectrodomesticoRequest" message="tns:modificarElectrodomestico" />
      <output wsam:Action="ZAP2WS/ElectrodomesticosWS/modificarElectrodomesticoResponse" message="tns:modificarElectrodomesticoResponse" />
    </operation>
    <operation name="buscarElectrodomestico">
      <input wsam:Action="ZAP2WS/ElectrodomesticosWS/buscarElectrodomesticoRequest" message="tns:buscarElectrodomestico" />
      <output wsam:Action="ZAP2WS/ElectrodomesticosWS/buscarElectrodomesticoResponse" message="tns:buscarElectrodomesticoResponse" />
    </operation>
    <operation name="eliminarElectrodomestico">
      <input wsam:Action="ZAP2WS/ElectrodomesticosWS/eliminarElectrodomesticoRequest" message="tns:eliminarElectrodomestico" />
      <output wsam:Action="ZAP2WS/ElectrodomesticosWS/eliminarElectrodomesticoResponse" message="tns:eliminarElectrodomesticoResponse" />
    </operation>
    <operation name="insertarElectrodomestico">
      <input wsam:Action="ZAP2WS/ElectrodomesticosWS/insertarElectrodomesticoRequest" message="tns:insertarElectrodomestico" />
      <output wsam:Action="ZAP2WS/ElectrodomesticosWS/insertarElectrodomesticoResponse" message="tns:insertarElectrodomesticoResponse" />
    </operation>
  </portType>
  <binding name="ElectrodomesticosWSPortBinding" type="tns:ElectrodomesticosWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarElectrodomesticos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarElectrodomestico">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="buscarElectrodomestico">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarElectrodomestico">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarElectrodomestico">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ElectrodomesticosWS">
    <port name="ElectrodomesticosWSPort" binding="tns:ElectrodomesticosWSPortBinding">
      <soap:address location="http://localhost:8080/ZAP2WS/ElectrodomesticosWS" />
    </port>
  </service>
</definitions>