ZAP2Frontend_C#/InterfacesTrabajoGrupal/Connected Services/ServicioWS/EmpleadoDeAreaWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="ZAP2WS" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="EmpleadoDeAreaWS" targetNamespace="ZAP2WS" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/ZAP2WS/EmpleadoDeAreaWS?xsd=1" namespace="ZAP2WS" />
    </xsd:schema>
  </types>
  <message name="listarEmpleadoArea">
    <part name="parameters" element="tns:listarEmpleadoArea" />
  </message>
  <message name="listarEmpleadoAreaResponse">
    <part name="parameters" element="tns:listarEmpleadoAreaResponse" />
  </message>
  <message name="buscarEmpleadoArea">
    <part name="parameters" element="tns:buscarEmpleadoArea" />
  </message>
  <message name="buscarEmpleadoAreaResponse">
    <part name="parameters" element="tns:buscarEmpleadoAreaResponse" />
  </message>
  <message name="modificarEmpleadoDeArea">
    <part name="parameters" element="tns:modificarEmpleadoDeArea" />
  </message>
  <message name="modificarEmpleadoDeAreaResponse">
    <part name="parameters" element="tns:modificarEmpleadoDeAreaResponse" />
  </message>
  <message name="eliminarEmpleadoDeArea">
    <part name="parameters" element="tns:eliminarEmpleadoDeArea" />
  </message>
  <message name="eliminarEmpleadoDeAreaResponse">
    <part name="parameters" element="tns:eliminarEmpleadoDeAreaResponse" />
  </message>
  <message name="insertarEmpleadoDeArea">
    <part name="parameters" element="tns:insertarEmpleadoDeArea" />
  </message>
  <message name="insertarEmpleadoDeAreaResponse">
    <part name="parameters" element="tns:insertarEmpleadoDeAreaResponse" />
  </message>
  <portType name="EmpleadoDeAreaWS">
    <operation name="listarEmpleadoArea">
      <input wsam:Action="ZAP2WS/EmpleadoDeAreaWS/listarEmpleadoAreaRequest" message="tns:listarEmpleadoArea" />
      <output wsam:Action="ZAP2WS/EmpleadoDeAreaWS/listarEmpleadoAreaResponse" message="tns:listarEmpleadoAreaResponse" />
    </operation>
    <operation name="buscarEmpleadoArea">
      <input wsam:Action="ZAP2WS/EmpleadoDeAreaWS/buscarEmpleadoAreaRequest" message="tns:buscarEmpleadoArea" />
      <output wsam:Action="ZAP2WS/EmpleadoDeAreaWS/buscarEmpleadoAreaResponse" message="tns:buscarEmpleadoAreaResponse" />
    </operation>
    <operation name="modificarEmpleadoDeArea">
      <input wsam:Action="ZAP2WS/EmpleadoDeAreaWS/modificarEmpleadoDeAreaRequest" message="tns:modificarEmpleadoDeArea" />
      <output wsam:Action="ZAP2WS/EmpleadoDeAreaWS/modificarEmpleadoDeAreaResponse" message="tns:modificarEmpleadoDeAreaResponse" />
    </operation>
    <operation name="eliminarEmpleadoDeArea">
      <input wsam:Action="ZAP2WS/EmpleadoDeAreaWS/eliminarEmpleadoDeAreaRequest" message="tns:eliminarEmpleadoDeArea" />
      <output wsam:Action="ZAP2WS/EmpleadoDeAreaWS/eliminarEmpleadoDeAreaResponse" message="tns:eliminarEmpleadoDeAreaResponse" />
    </operation>
    <operation name="insertarEmpleadoDeArea">
      <input wsam:Action="ZAP2WS/EmpleadoDeAreaWS/insertarEmpleadoDeAreaRequest" message="tns:insertarEmpleadoDeArea" />
      <output wsam:Action="ZAP2WS/EmpleadoDeAreaWS/insertarEmpleadoDeAreaResponse" message="tns:insertarEmpleadoDeAreaResponse" />
    </operation>
  </portType>
  <binding name="EmpleadoDeAreaWSPortBinding" type="tns:EmpleadoDeAreaWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarEmpleadoArea">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="buscarEmpleadoArea">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarEmpleadoDeArea">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarEmpleadoDeArea">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarEmpleadoDeArea">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="EmpleadoDeAreaWS">
    <port name="EmpleadoDeAreaWSPort" binding="tns:EmpleadoDeAreaWSPortBinding">
      <soap:address location="http://localhost:8080/ZAP2WS/EmpleadoDeAreaWS" />
    </port>
  </service>
</definitions>