ZAP2Frontend_C#/InterfacesTrabajoGrupal/Connected Services/ServicioWS/LineaDocWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="ZAP2WS" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="LineaDocWS" targetNamespace="ZAP2WS" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/ZAP2WS/LineaDocWS?xsd=1" namespace="ZAP2WS" />
    </xsd:schema>
  </types>
  <message name="modificarLineaDoc">
    <part name="parameters" element="tns:modificarLineaDoc" />
  </message>
  <message name="modificarLineaDocResponse">
    <part name="parameters" element="tns:modificarLineaDocResponse" />
  </message>
  <message name="eliminarLineaDoc">
    <part name="parameters" element="tns:eliminarLineaDoc" />
  </message>
  <message name="eliminarLineaDocResponse">
    <part name="parameters" element="tns:eliminarLineaDocResponse" />
  </message>
  <message name="listarLineaDoc">
    <part name="parameters" element="tns:listarLineaDoc" />
  </message>
  <message name="listarLineaDocResponse">
    <part name="parameters" element="tns:listarLineaDocResponse" />
  </message>
  <message name="insertarLineaDoc">
    <part name="parameters" element="tns:insertarLineaDoc" />
  </message>
  <message name="insertarLineaDocResponse">
    <part name="parameters" element="tns:insertarLineaDocResponse" />
  </message>
  <portType name="LineaDocWS">
    <operation name="modificarLineaDoc">
      <input wsam:Action="ZAP2WS/LineaDocWS/modificarLineaDocRequest" message="tns:modificarLineaDoc" />
      <output wsam:Action="ZAP2WS/LineaDocWS/modificarLineaDocResponse" message="tns:modificarLineaDocResponse" />
    </operation>
    <operation name="eliminarLineaDoc">
      <input wsam:Action="ZAP2WS/LineaDocWS/eliminarLineaDocRequest" message="tns:eliminarLineaDoc" />
      <output wsam:Action="ZAP2WS/LineaDocWS/eliminarLineaDocResponse" message="tns:eliminarLineaDocResponse" />
    </operation>
    <operation name="listarLineaDoc">
      <input wsam:Action="ZAP2WS/LineaDocWS/listarLineaDocRequest" message="tns:listarLineaDoc" />
      <output wsam:Action="ZAP2WS/LineaDocWS/listarLineaDocResponse" message="tns:listarLineaDocResponse" />
    </operation>
    <operation name="insertarLineaDoc">
      <input wsam:Action="ZAP2WS/LineaDocWS/insertarLineaDocRequest" message="tns:insertarLineaDoc" />
      <output wsam:Action="ZAP2WS/LineaDocWS/insertarLineaDocResponse" message="tns:insertarLineaDocResponse" />
    </operation>
  </portType>
  <binding name="LineaDocWSPortBinding" type="tns:LineaDocWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="modificarLineaDoc">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarLineaDoc">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarLineaDoc">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarLineaDoc">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="LineaDocWS">
    <port name="LineaDocWSPort" binding="tns:LineaDocWSPortBinding">
      <soap:address location="http://localhost:8080/ZAP2WS/LineaDocWS" />
    </port>
  </service>
</definitions>