ZAP2Frontend_C#/InterfacesTrabajoGrupal/Connected Services/ServicioWS/LineaDocWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="ZAP2WS" targetNamespace="ZAP2WS" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarLineaDoc" type="tns:eliminarLineaDoc" />
  <xs:element name="eliminarLineaDocResponse" type="tns:eliminarLineaDocResponse" />
  <xs:element name="insertarLineaDoc" type="tns:insertarLineaDoc" />
  <xs:element name="insertarLineaDocResponse" type="tns:insertarLineaDocResponse" />
  <xs:element name="listarLineaDoc" type="tns:listarLineaDoc" />
  <xs:element name="listarLineaDocResponse" type="tns:listarLineaDocResponse" />
  <xs:element name="modificarLineaDoc" type="tns:modificarLineaDoc" />
  <xs:element name="modificarLineaDocResponse" type="tns:modificarLineaDocResponse" />
  <xs:complexType name="modificarLineaDoc">
    <xs:sequence>
      <xs:element minOccurs="0" name="lineaDoc" type="tns:lineaDoc" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="lineaDoc">
    <xs:sequence>
      <xs:element name="cantidad" type="xs:double" />
      <xs:element minOccurs="0" name="documento" type="tns:documento" />
      <xs:element name="idLineDoc" type="xs:int" />
      <xs:element name="precioTotal" type="xs:double" />
      <xs:element name="precioUnitario" type="xs:double" />
      <xs:element minOccurs="0" name="producto" type="tns:productoPrecio" />
      <xs:element name="subTotal" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="documento">
    <xs:sequence>
      <xs:element minOccurs="0" name="fecha_emision" type="xs:dateTime" />
      <xs:element name="id_documento" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="lineasDocVenta" nillable="true" type="tns:lineaDoc" />
      <xs:element minOccurs="0" name="moneda" type="tns:moneda" />
      <xs:element name="total" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="moneda">
    <xs:sequence>
      <xs:element minOccurs="0" name="abreviacion" type="xs:string" />
      <xs:element name="idMoneda" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="productoPrecio">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element minOccurs="0" name="descuento" type="tns:descuento" />
      <xs:element name="idProductoPrecio" type="xs:int" />
      <xs:element name="precio" type="xs:double" />
      <xs:element minOccurs="0" name="producto" type="tns:producto" />
      <xs:element minOccurs="0" name="sucursal" type="tns:sucursal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="descuento">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element name="descuentoAplicado" type="xs:double" />
      <xs:element minOccurs="0" name="fechaFinal" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaInicial" type="xs:dateTime" />
      <xs:element name="idDescuento" type="xs:int" />
      <xs:element name="pp" type="xs:double" />
      <xs:element minOccurs="0" name="prodPrecio" type="tns:productoPrecio" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="producto">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element name="cantidadComprada" type="xs:int" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="idProducto" type="xs:int" />
      <xs:element minOccurs="0" name="imagen" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="prodPrecio" type="tns:productoPrecio" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="productosPrecio" nillable="true" type="tns:productoPrecio" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sucursal">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="almacenes" nillable="true" type="tns:almacen" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="areas" nillable="true" type="tns:area" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element name="id_sucursal" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="producto" nillable="true" type="tns:productoPrecio" />
      <xs:element name="tam_metros" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="almacen">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="capacidadActualProductos" type="xs:double" />
      <xs:element name="capacidadMaximaProductos" type="xs:double" />
      <xs:element name="id_almacen" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="lote" nillable="true" type="tns:lote" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="movimientosLote" nillable="true" type="tns:movimientoLote" />
      <xs:element minOccurs="0" name="sucursal" type="tns:sucursal" />
      <xs:element minOccurs="0" name="tipoAlmacen" type="tns:tipoAlmacen" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="lote">
    <xs:sequence>
      <xs:element minOccurs="0" name="almacen" type="tns:almacen" />
      <xs:element name="idLote" type="xs:int" />
      <xs:element name="idPedido" type="xs:int" />
      <xs:element minOccurs="0" name="movLote" type="tns:movimientoLote" />
      <xs:element minOccurs="0" name="producto" type="tns:producto" />
      <xs:element name="stockActual" type="xs:int" />
      <xs:element name="stockInicial" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="movimientoLote">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element minOccurs="0" name="almacenEntrada" type="tns:almacen" />
      <xs:element minOccurs="0" name="almacenSalida" type="tns:almacen" />
      <xs:element name="cantidadProductosMovidos" type="xs:double" />
      <xs:element minOccurs="0" name="fechaMovimiento" type="xs:dateTime" />
      <xs:element name="idMovimientoLote" type="xs:int" />
      <xs:element minOccurs="0" name="lote" type="tns:lote" />
      <xs:element minOccurs="0" name="motivo" type="tns:tipoDeMotivoMovimientoAlmacen" />
      <xs:element name="movimientoEntrada" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="area">
    <xs:sequence>
      <xs:element name="idArea" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="productos" nillable="true" type="tns:producto" />
      <xs:element minOccurs="0" name="sucursal" type="tns:sucursal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarLineaDocResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarLineaDoc">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarLineaDocResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:lineaDoc" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarLineaDoc">
    <xs:sequence>
      <xs:element name="idLineaDoc" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarLineaDocResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarLineaDoc">
    <xs:sequence>
      <xs:element minOccurs="0" name="lineaDoc" type="tns:lineaDoc" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarLineaDocResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="tipoDeMotivoMovimientoAlmacen">
    <xs:restriction base="xs:string">
      <xs:enumeration value="traslado" />
      <xs:enumeration value="compra" />
      <xs:enumeration value="venta" />
      <xs:enumeration value="perdida" />
      <xs:enumeration value="devolucionCliente" />
      <xs:enumeration value="devolucionProveedor" />
      <xs:enumeration value="daño" />
      <xs:enumeration value="donacion" />
      <xs:enumeration value="inventario" />
      <xs:enumeration value="reposicionAnaqueles" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipoAlmacen">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AlmacenComun" />
      <xs:enumeration value="Congeladora" />
      <xs:enumeration value="Refrigeradora" />
      <xs:enumeration value="AlmacenSeco" />
      <xs:enumeration value="AlmacenDeProductosQuimicos" />
      <xs:enumeration value="AlmacenElectronicos" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>