ZAP2Frontend_C#/InterfacesTrabajoGrupal/Connected Services/ServicioWS/LoteWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="ZAP2WS" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="LoteWS" targetNamespace="ZAP2WS" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/ZAP2WS/LoteWS?xsd=1" namespace="ZAP2WS" />
    </xsd:schema>
  </types>
  <message name="listarLote">
    <part name="parameters" element="tns:listarLote" />
  </message>
  <message name="listarLoteResponse">
    <part name="parameters" element="tns:listarLoteResponse" />
  </message>
  <message name="insertarLote">
    <part name="parameters" element="tns:insertarLote" />
  </message>
  <message name="insertarLoteResponse">
    <part name="parameters" element="tns:insertarLoteResponse" />
  </message>
  <message name="eliminarLote">
    <part name="parameters" element="tns:eliminarLote" />
  </message>
  <message name="eliminarLoteResponse">
    <part name="parameters" element="tns:eliminarLoteResponse" />
  </message>
  <message name="modificarLote">
    <part name="parameters" element="tns:modificarLote" />
  </message>
  <message name="modificarLoteResponse">
    <part name="parameters" element="tns:modificarLoteResponse" />
  </message>
  <portType name="LoteWS">
    <operation name="listarLote">
      <input wsam:Action="ZAP2WS/LoteWS/listarLoteRequest" message="tns:listarLote" />
      <output wsam:Action="ZAP2WS/LoteWS/listarLoteResponse" message="tns:listarLoteResponse" />
    </operation>
    <operation name="insertarLote">
      <input wsam:Action="ZAP2WS/LoteWS/insertarLoteRequest" message="tns:insertarLote" />
      <output wsam:Action="ZAP2WS/LoteWS/insertarLoteResponse" message="tns:insertarLoteResponse" />
    </operation>
    <operation name="eliminarLote">
      <input wsam:Action="ZAP2WS/LoteWS/eliminarLoteRequest" message="tns:eliminarLote" />
      <output wsam:Action="ZAP2WS/LoteWS/eliminarLoteResponse" message="tns:eliminarLoteResponse" />
    </operation>
    <operation name="modificarLote">
      <input wsam:Action="ZAP2WS/LoteWS/modificarLoteRequest" message="tns:modificarLote" />
      <output wsam:Action="ZAP2WS/LoteWS/modificarLoteResponse" message="tns:modificarLoteResponse" />
    </operation>
  </portType>
  <binding name="LoteWSPortBinding" type="tns:LoteWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarLote">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarLote">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarLote">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarLote">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="LoteWS">
    <port name="LoteWSPort" binding="tns:LoteWSPortBinding">
      <soap:address location="http://localhost:8080/ZAP2WS/LoteWS" />
    </port>
  </service>
</definitions>