ZAP2Frontend_C#/InterfacesTrabajoGrupal/Connected Services/ServicioWS/MonedaWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="ZAP2WS" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="MonedaWS" targetNamespace="ZAP2WS" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/ZAP2WS/MonedaWS?xsd=1" namespace="ZAP2WS" />
    </xsd:schema>
  </types>
  <message name="eliminarMoneda">
    <part name="parameters" element="tns:eliminarMoneda" />
  </message>
  <message name="eliminarMonedaResponse">
    <part name="parameters" element="tns:eliminarMonedaResponse" />
  </message>
  <message name="insertarMoneda">
    <part name="parameters" element="tns:insertarMoneda" />
  </message>
  <message name="insertarMonedaResponse">
    <part name="parameters" element="tns:insertarMonedaResponse" />
  </message>
  <message name="modificarMoneda">
    <part name="parameters" element="tns:modificarMoneda" />
  </message>
  <message name="modificarMonedaResponse">
    <part name="parameters" element="tns:modificarMonedaResponse" />
  </message>
  <message name="listarMoneda">
    <part name="parameters" element="tns:listarMoneda" />
  </message>
  <message name="listarMonedaResponse">
    <part name="parameters" element="tns:listarMonedaResponse" />
  </message>
  <message name="buscarMoneda">
    <part name="parameters" element="tns:buscarMoneda" />
  </message>
  <message name="buscarMonedaResponse">
    <part name="parameters" element="tns:buscarMonedaResponse" />
  </message>
  <portType name="MonedaWS">
    <operation name="eliminarMoneda">
      <input wsam:Action="ZAP2WS/MonedaWS/eliminarMonedaRequest" message="tns:eliminarMoneda" />
      <output wsam:Action="ZAP2WS/MonedaWS/eliminarMonedaResponse" message="tns:eliminarMonedaResponse" />
    </operation>
    <operation name="insertarMoneda">
      <input wsam:Action="ZAP2WS/MonedaWS/insertarMonedaRequest" message="tns:insertarMoneda" />
      <output wsam:Action="ZAP2WS/MonedaWS/insertarMonedaResponse" message="tns:insertarMonedaResponse" />
    </operation>
    <operation name="modificarMoneda">
      <input wsam:Action="ZAP2WS/MonedaWS/modificarMonedaRequest" message="tns:modificarMoneda" />
      <output wsam:Action="ZAP2WS/MonedaWS/modificarMonedaResponse" message="tns:modificarMonedaResponse" />
    </operation>
    <operation name="listarMoneda">
      <input wsam:Action="ZAP2WS/MonedaWS/listarMonedaRequest" message="tns:listarMoneda" />
      <output wsam:Action="ZAP2WS/MonedaWS/listarMonedaResponse" message="tns:listarMonedaResponse" />
    </operation>
    <operation name="buscarMoneda">
      <input wsam:Action="ZAP2WS/MonedaWS/buscarMonedaRequest" message="tns:buscarMoneda" />
      <output wsam:Action="ZAP2WS/MonedaWS/buscarMonedaResponse" message="tns:buscarMonedaResponse" />
    </operation>
  </portType>
  <binding name="MonedaWSPortBinding" type="tns:MonedaWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="eliminarMoneda">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarMoneda">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarMoneda">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarMoneda">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="buscarMoneda">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="MonedaWS">
    <port name="MonedaWSPort" binding="tns:MonedaWSPortBinding">
      <soap:address location="http://localhost:8080/ZAP2WS/MonedaWS" />
    </port>
  </service>
</definitions>