ZAP2Frontend_C#/InterfacesTrabajoGrupal/Connected Services/ServicioWS/MovimientoLoteWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="ZAP2WS" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="MovimientoLoteWS" targetNamespace="ZAP2WS" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/ZAP2WS/MovimientoLoteWS?xsd=1" namespace="ZAP2WS" />
    </xsd:schema>
  </types>
  <message name="modificarMovimientoLote">
    <part name="parameters" element="tns:modificarMovimientoLote" />
  </message>
  <message name="modificarMovimientoLoteResponse">
    <part name="parameters" element="tns:modificarMovimientoLoteResponse" />
  </message>
  <message name="listarMovimientoLote">
    <part name="parameters" element="tns:listarMovimientoLote" />
  </message>
  <message name="listarMovimientoLoteResponse">
    <part name="parameters" element="tns:listarMovimientoLoteResponse" />
  </message>
  <message name="insertarMovimientoLote">
    <part name="parameters" element="tns:insertarMovimientoLote" />
  </message>
  <message name="insertarMovimientoLoteResponse">
    <part name="parameters" element="tns:insertarMovimientoLoteResponse" />
  </message>
  <message name="eliminarMovimientoLote">
    <part name="parameters" element="tns:eliminarMovimientoLote" />
  </message>
  <message name="eliminarMovimientoLoteResponse">
    <part name="parameters" element="tns:eliminarMovimientoLoteResponse" />
  </message>
  <portType name="MovimientoLoteWS">
    <operation name="modificarMovimientoLote">
      <input wsam:Action="ZAP2WS/MovimientoLoteWS/modificarMovimientoLoteRequest" message="tns:modificarMovimientoLote" />
      <output wsam:Action="ZAP2WS/MovimientoLoteWS/modificarMovimientoLoteResponse" message="tns:modificarMovimientoLoteResponse" />
    </operation>
    <operation name="listarMovimientoLote">
      <input wsam:Action="ZAP2WS/MovimientoLoteWS/listarMovimientoLoteRequest" message="tns:listarMovimientoLote" />
      <output wsam:Action="ZAP2WS/MovimientoLoteWS/listarMovimientoLoteResponse" message="tns:listarMovimientoLoteResponse" />
    </operation>
    <operation name="insertarMovimientoLote">
      <input wsam:Action="ZAP2WS/MovimientoLoteWS/insertarMovimientoLoteRequest" message="tns:insertarMovimientoLote" />
      <output wsam:Action="ZAP2WS/MovimientoLoteWS/insertarMovimientoLoteResponse" message="tns:insertarMovimientoLoteResponse" />
    </operation>
    <operation name="eliminarMovimientoLote">
      <input wsam:Action="ZAP2WS/MovimientoLoteWS/eliminarMovimientoLoteRequest" message="tns:eliminarMovimientoLote" />
      <output wsam:Action="ZAP2WS/MovimientoLoteWS/eliminarMovimientoLoteResponse" message="tns:eliminarMovimientoLoteResponse" />
    </operation>
  </portType>
  <binding name="MovimientoLoteWSPortBinding" type="tns:MovimientoLoteWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="modificarMovimientoLote">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarMovimientoLote">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarMovimientoLote">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarMovimientoLote">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="MovimientoLoteWS">
    <port name="MovimientoLoteWSPort" binding="tns:MovimientoLoteWSPortBinding">
      <soap:address location="http://localhost:8080/ZAP2WS/MovimientoLoteWS" />
    </port>
  </service>
</definitions>