ZAP2Frontend_C#/InterfacesTrabajoGrupal/Connected Services/ServicioWS/PedidoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="ZAP2WS" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="PedidoWS" targetNamespace="ZAP2WS" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/ZAP2WS/PedidoWS?xsd=1" namespace="ZAP2WS" />
    </xsd:schema>
  </types>
  <message name="insertarPedido">
    <part name="parameters" element="tns:insertarPedido" />
  </message>
  <message name="insertarPedidoResponse">
    <part name="parameters" element="tns:insertarPedidoResponse" />
  </message>
  <message name="modificarPedido">
    <part name="parameters" element="tns:modificarPedido" />
  </message>
  <message name="modificarPedidoResponse">
    <part name="parameters" element="tns:modificarPedidoResponse" />
  </message>
  <message name="listarPedidos">
    <part name="parameters" element="tns:listarPedidos" />
  </message>
  <message name="listarPedidosResponse">
    <part name="parameters" element="tns:listarPedidosResponse" />
  </message>
  <message name="eliminarPedido">
    <part name="parameters" element="tns:eliminarPedido" />
  </message>
  <message name="eliminarPedidoResponse">
    <part name="parameters" element="tns:eliminarPedidoResponse" />
  </message>
  <message name="buscarPedido">
    <part name="parameters" element="tns:buscarPedido" />
  </message>
  <message name="buscarPedidoResponse">
    <part name="parameters" element="tns:buscarPedidoResponse" />
  </message>
  <portType name="PedidoWS">
    <operation name="insertarPedido">
      <input wsam:Action="ZAP2WS/PedidoWS/insertarPedidoRequest" message="tns:insertarPedido" />
      <output wsam:Action="ZAP2WS/PedidoWS/insertarPedidoResponse" message="tns:insertarPedidoResponse" />
    </operation>
    <operation name="modificarPedido">
      <input wsam:Action="ZAP2WS/PedidoWS/modificarPedidoRequest" message="tns:modificarPedido" />
      <output wsam:Action="ZAP2WS/PedidoWS/modificarPedidoResponse" message="tns:modificarPedidoResponse" />
    </operation>
    <operation name="listarPedidos">
      <input wsam:Action="ZAP2WS/PedidoWS/listarPedidosRequest" message="tns:listarPedidos" />
      <output wsam:Action="ZAP2WS/PedidoWS/listarPedidosResponse" message="tns:listarPedidosResponse" />
    </operation>
    <operation name="eliminarPedido">
      <input wsam:Action="ZAP2WS/PedidoWS/eliminarPedidoRequest" message="tns:eliminarPedido" />
      <output wsam:Action="ZAP2WS/PedidoWS/eliminarPedidoResponse" message="tns:eliminarPedidoResponse" />
    </operation>
    <operation name="buscarPedido">
      <input wsam:Action="ZAP2WS/PedidoWS/buscarPedidoRequest" message="tns:buscarPedido" />
      <output wsam:Action="ZAP2WS/PedidoWS/buscarPedidoResponse" message="tns:buscarPedidoResponse" />
    </operation>
  </portType>
  <binding name="PedidoWSPortBinding" type="tns:PedidoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="insertarPedido">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarPedido">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPedidos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarPedido">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="buscarPedido">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="PedidoWS">
    <port name="PedidoWSPort" binding="tns:PedidoWSPortBinding">
      <soap:address location="http://localhost:8080/ZAP2WS/PedidoWS" />
    </port>
  </service>
</definitions>