ZAP2Frontend_C#/InterfacesTrabajoGrupal/Connected Services/ServicioWS/PersonaJuridicaWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="ZAP2WS" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="PersonaJuridicaWS" targetNamespace="ZAP2WS" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/ZAP2WS/PersonaJuridicaWS?xsd=1" namespace="ZAP2WS" />
    </xsd:schema>
  </types>
  <message name="modificarPersonaJuridica">
    <part name="parameters" element="tns:modificarPersonaJuridica" />
  </message>
  <message name="modificarPersonaJuridicaResponse">
    <part name="parameters" element="tns:modificarPersonaJuridicaResponse" />
  </message>
  <message name="listarPersonasJuridicas">
    <part name="parameters" element="tns:listarPersonasJuridicas" />
  </message>
  <message name="listarPersonasJuridicasResponse">
    <part name="parameters" element="tns:listarPersonasJuridicasResponse" />
  </message>
  <message name="insertarPersonaJuridica">
    <part name="parameters" element="tns:insertarPersonaJuridica" />
  </message>
  <message name="insertarPersonaJuridicaResponse">
    <part name="parameters" element="tns:insertarPersonaJuridicaResponse" />
  </message>
  <message name="eliminarPersonaJuridica">
    <part name="parameters" element="tns:eliminarPersonaJuridica" />
  </message>
  <message name="eliminarPersonaJuridicaResponse">
    <part name="parameters" element="tns:eliminarPersonaJuridicaResponse" />
  </message>
  <portType name="PersonaJuridicaWS">
    <operation name="modificarPersonaJuridica">
      <input wsam:Action="ZAP2WS/PersonaJuridicaWS/modificarPersonaJuridicaRequest" message="tns:modificarPersonaJuridica" />
      <output wsam:Action="ZAP2WS/PersonaJuridicaWS/modificarPersonaJuridicaResponse" message="tns:modificarPersonaJuridicaResponse" />
    </operation>
    <operation name="listarPersonasJuridicas">
      <input wsam:Action="ZAP2WS/PersonaJuridicaWS/listarPersonasJuridicasRequest" message="tns:listarPersonasJuridicas" />
      <output wsam:Action="ZAP2WS/PersonaJuridicaWS/listarPersonasJuridicasResponse" message="tns:listarPersonasJuridicasResponse" />
    </operation>
    <operation name="insertarPersonaJuridica">
      <input wsam:Action="ZAP2WS/PersonaJuridicaWS/insertarPersonaJuridicaRequest" message="tns:insertarPersonaJuridica" />
      <output wsam:Action="ZAP2WS/PersonaJuridicaWS/insertarPersonaJuridicaResponse" message="tns:insertarPersonaJuridicaResponse" />
    </operation>
    <operation name="eliminarPersonaJuridica">
      <input wsam:Action="ZAP2WS/PersonaJuridicaWS/eliminarPersonaJuridicaRequest" message="tns:eliminarPersonaJuridica" />
      <output wsam:Action="ZAP2WS/PersonaJuridicaWS/eliminarPersonaJuridicaResponse" message="tns:eliminarPersonaJuridicaResponse" />
    </operation>
  </portType>
  <binding name="PersonaJuridicaWSPortBinding" type="tns:PersonaJuridicaWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="modificarPersonaJuridica">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPersonasJuridicas">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarPersonaJuridica">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarPersonaJuridica">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="PersonaJuridicaWS">
    <port name="PersonaJuridicaWSPort" binding="tns:PersonaJuridicaWSPortBinding">
      <soap:address location="http://localhost:8080/ZAP2WS/PersonaJuridicaWS" />
    </port>
  </service>
</definitions>