ZAP2Frontend_C#/InterfacesTrabajoGrupal/Connected Services/ServicioWS/PersonaJuridicaWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="ZAP2WS" targetNamespace="ZAP2WS" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarPersonaJuridica" type="tns:eliminarPersonaJuridica" />
  <xs:element name="eliminarPersonaJuridicaResponse" type="tns:eliminarPersonaJuridicaResponse" />
  <xs:element name="insertarPersonaJuridica" type="tns:insertarPersonaJuridica" />
  <xs:element name="insertarPersonaJuridicaResponse" type="tns:insertarPersonaJuridicaResponse" />
  <xs:element name="listarPersonasJuridicas" type="tns:listarPersonasJuridicas" />
  <xs:element name="listarPersonasJuridicasResponse" type="tns:listarPersonasJuridicasResponse" />
  <xs:element name="modificarPersonaJuridica" type="tns:modificarPersonaJuridica" />
  <xs:element name="modificarPersonaJuridicaResponse" type="tns:modificarPersonaJuridicaResponse" />
  <xs:complexType name="eliminarPersonaJuridica">
    <xs:sequence>
      <xs:element name="idPersonaJuridica" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarPersonaJuridicaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarPersonaJuridica">
    <xs:sequence>
      <xs:element minOccurs="0" name="personaJuridica" type="tns:personaJuridica" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="personaJuridica">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:persona">
        <xs:sequence>
          <xs:element minOccurs="0" name="direccionLegal" type="xs:string" />
          <xs:element minOccurs="0" name="nombreLegal" type="xs:string" />
          <xs:element name="numIdentificadorFiscal" type="xs:int" />
          <xs:element minOccurs="0" name="RUC" type="xs:string" />
          <xs:element minOccurs="0" name="tipoEntidad" type="tns:tipoEntidad" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="persona" abstract="true">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element minOccurs="0" name="apellido_materno" type="xs:string" />
      <xs:element minOccurs="0" name="apellido_paterno" type="xs:string" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element name="id_Persona" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="nro_documento" type="xs:int" />
      <xs:element name="telefono" type="xs:int" />
      <xs:element minOccurs="0" name="tipo_documento" type="tns:tipoDocumento" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarPersonaJuridicaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPersonasJuridicas">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarPersonasJuridicasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:personaJuridica" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarPersonaJuridica">
    <xs:sequence>
      <xs:element minOccurs="0" name="personaJuridica" type="tns:personaJuridica" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarPersonaJuridicaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="tipoEntidad">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Corporación" />
      <xs:enumeration value="Asociación" />
      <xs:enumeration value="Fundación" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipoDocumento">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DNI" />
      <xs:enumeration value="CARNET_EXTRANJERIA" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>