ZAP2Frontend_C#/InterfacesTrabajoGrupal/Connected Services/ServicioWS/ProductosParaElCuidadoPersonalYDelHogarWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="ZAP2WS" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ProductosParaElCuidadoPersonalYDelHogarWS" targetNamespace="ZAP2WS" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/ZAP2WS/ProductosParaElCuidadoPersonalYDelHogarWS?xsd=1" namespace="ZAP2WS" />
    </xsd:schema>
  </types>
  <message name="modificarPCH">
    <part name="parameters" element="tns:modificarPCH" />
  </message>
  <message name="modificarPCHResponse">
    <part name="parameters" element="tns:modificarPCHResponse" />
  </message>
  <message name="eliminarPCH">
    <part name="parameters" element="tns:eliminarPCH" />
  </message>
  <message name="eliminarPCHResponse">
    <part name="parameters" element="tns:eliminarPCHResponse" />
  </message>
  <message name="buscarProductoPCH">
    <part name="parameters" element="tns:buscarProductoPCH" />
  </message>
  <message name="buscarProductoPCHResponse">
    <part name="parameters" element="tns:buscarProductoPCHResponse" />
  </message>
  <message name="insertarPCH">
    <part name="parameters" element="tns:insertarPCH" />
  </message>
  <message name="insertarPCHResponse">
    <part name="parameters" element="tns:insertarPCHResponse" />
  </message>
  <message name="listarPCH">
    <part name="parameters" element="tns:listarPCH" />
  </message>
  <message name="listarPCHResponse">
    <part name="parameters" element="tns:listarPCHResponse" />
  </message>
  <portType name="ProductosParaElCuidadoPersonalYDelHogarWS">
    <operation name="modificarPCH">
      <input wsam:Action="ZAP2WS/ProductosParaElCuidadoPersonalYDelHogarWS/modificarPCHRequest" message="tns:modificarPCH" />
      <output wsam:Action="ZAP2WS/ProductosParaElCuidadoPersonalYDelHogarWS/modificarPCHResponse" message="tns:modificarPCHResponse" />
    </operation>
    <operation name="eliminarPCH">
      <input wsam:Action="ZAP2WS/ProductosParaElCuidadoPersonalYDelHogarWS/eliminarPCHRequest" message="tns:eliminarPCH" />
      <output wsam:Action="ZAP2WS/ProductosParaElCuidadoPersonalYDelHogarWS/eliminarPCHResponse" message="tns:eliminarPCHResponse" />
    </operation>
    <operation name="buscarProductoPCH">
      <input wsam:Action="ZAP2WS/ProductosParaElCuidadoPersonalYDelHogarWS/buscarProductoPCHRequest" message="tns:buscarProductoPCH" />
      <output wsam:Action="ZAP2WS/ProductosParaElCuidadoPersonalYDelHogarWS/buscarProductoPCHResponse" message="tns:buscarProductoPCHResponse" />
    </operation>
    <operation name="insertarPCH">
      <input wsam:Action="ZAP2WS/ProductosParaElCuidadoPersonalYDelHogarWS/insertarPCHRequest" message="tns:insertarPCH" />
      <output wsam:Action="ZAP2WS/ProductosParaElCuidadoPersonalYDelHogarWS/insertarPCHResponse" message="tns:insertarPCHResponse" />
    </operation>
    <operation name="listarPCH">
      <input wsam:Action="ZAP2WS/ProductosParaElCuidadoPersonalYDelHogarWS/listarPCHRequest" message="tns:listarPCH" />
      <output wsam:Action="ZAP2WS/ProductosParaElCuidadoPersonalYDelHogarWS/listarPCHResponse" message="tns:listarPCHResponse" />
    </operation>
  </portType>
  <binding name="ProductosParaElCuidadoPersonalYDelHogarWSPortBinding" type="tns:ProductosParaElCuidadoPersonalYDelHogarWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="modificarPCH">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarPCH">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="buscarProductoPCH">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarPCH">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPCH">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ProductosParaElCuidadoPersonalYDelHogarWS">
    <port name="ProductosParaElCuidadoPersonalYDelHogarWSPort" binding="tns:ProductosParaElCuidadoPersonalYDelHogarWSPortBinding">
      <soap:address location="http://localhost:8080/ZAP2WS/ProductosParaElCuidadoPersonalYDelHogarWS" />
    </port>
  </service>
</definitions>