ZAP2Frontend_C#/InterfacesTrabajoGrupal/Connected Services/ServicioWS/ProductoPrecioWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="ZAP2WS" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ProductoPrecioWS" targetNamespace="ZAP2WS" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/ZAP2WS/ProductoPrecioWS?xsd=1" namespace="ZAP2WS" />
    </xsd:schema>
  </types>
  <message name="modificarProductoPrecio">
    <part name="parameters" element="tns:modificarProductoPrecio" />
  </message>
  <message name="modificarProductoPrecioResponse">
    <part name="parameters" element="tns:modificarProductoPrecioResponse" />
  </message>
  <message name="listarProductoPrecio">
    <part name="parameters" element="tns:listarProductoPrecio" />
  </message>
  <message name="listarProductoPrecioResponse">
    <part name="parameters" element="tns:listarProductoPrecioResponse" />
  </message>
  <message name="insertarProductoPrecio">
    <part name="parameters" element="tns:insertarProductoPrecio" />
  </message>
  <message name="insertarProductoPrecioResponse">
    <part name="parameters" element="tns:insertarProductoPrecioResponse" />
  </message>
  <message name="eliminarProductoPrecio">
    <part name="parameters" element="tns:eliminarProductoPrecio" />
  </message>
  <message name="eliminarProductoPrecioResponse">
    <part name="parameters" element="tns:eliminarProductoPrecioResponse" />
  </message>
  <portType name="ProductoPrecioWS">
    <operation name="modificarProductoPrecio">
      <input wsam:Action="ZAP2WS/ProductoPrecioWS/modificarProductoPrecioRequest" message="tns:modificarProductoPrecio" />
      <output wsam:Action="ZAP2WS/ProductoPrecioWS/modificarProductoPrecioResponse" message="tns:modificarProductoPrecioResponse" />
    </operation>
    <operation name="listarProductoPrecio">
      <input wsam:Action="ZAP2WS/ProductoPrecioWS/listarProductoPrecioRequest" message="tns:listarProductoPrecio" />
      <output wsam:Action="ZAP2WS/ProductoPrecioWS/listarProductoPrecioResponse" message="tns:listarProductoPrecioResponse" />
    </operation>
    <operation name="insertarProductoPrecio">
      <input wsam:Action="ZAP2WS/ProductoPrecioWS/insertarProductoPrecioRequest" message="tns:insertarProductoPrecio" />
      <output wsam:Action="ZAP2WS/ProductoPrecioWS/insertarProductoPrecioResponse" message="tns:insertarProductoPrecioResponse" />
    </operation>
    <operation name="eliminarProductoPrecio">
      <input wsam:Action="ZAP2WS/ProductoPrecioWS/eliminarProductoPrecioRequest" message="tns:eliminarProductoPrecio" />
      <output wsam:Action="ZAP2WS/ProductoPrecioWS/eliminarProductoPrecioResponse" message="tns:eliminarProductoPrecioResponse" />
    </operation>
  </portType>
  <binding name="ProductoPrecioWSPortBinding" type="tns:ProductoPrecioWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="modificarProductoPrecio">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarProductoPrecio">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarProductoPrecio">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarProductoPrecio">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ProductoPrecioWS">
    <port name="ProductoPrecioWSPort" binding="tns:ProductoPrecioWSPortBinding">
      <soap:address location="http://localhost:8080/ZAP2WS/ProductoPrecioWS" />
    </port>
  </service>
</definitions>