ZAP2Frontend_C#/InterfacesTrabajoGrupal/Connected Services/ServicioWS/SucursalWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="ZAP2WS" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="SucursalWS" targetNamespace="ZAP2WS" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/ZAP2WS/SucursalWS?xsd=1" namespace="ZAP2WS" />
    </xsd:schema>
  </types>
  <message name="buscarSucursal">
    <part name="parameters" element="tns:buscarSucursal" />
  </message>
  <message name="buscarSucursalResponse">
    <part name="parameters" element="tns:buscarSucursalResponse" />
  </message>
  <message name="eliminarSucursal">
    <part name="parameters" element="tns:eliminarSucursal" />
  </message>
  <message name="eliminarSucursalResponse">
    <part name="parameters" element="tns:eliminarSucursalResponse" />
  </message>
  <message name="listarSucursal">
    <part name="parameters" element="tns:listarSucursal" />
  </message>
  <message name="listarSucursalResponse">
    <part name="parameters" element="tns:listarSucursalResponse" />
  </message>
  <message name="insertarSucursal">
    <part name="parameters" element="tns:insertarSucursal" />
  </message>
  <message name="insertarSucursalResponse">
    <part name="parameters" element="tns:insertarSucursalResponse" />
  </message>
  <message name="modificarSucursal">
    <part name="parameters" element="tns:modificarSucursal" />
  </message>
  <message name="modificarSucursalResponse">
    <part name="parameters" element="tns:modificarSucursalResponse" />
  </message>
  <portType name="SucursalWS">
    <operation name="buscarSucursal">
      <input wsam:Action="ZAP2WS/SucursalWS/buscarSucursalRequest" message="tns:buscarSucursal" />
      <output wsam:Action="ZAP2WS/SucursalWS/buscarSucursalResponse" message="tns:buscarSucursalResponse" />
    </operation>
    <operation name="eliminarSucursal">
      <input wsam:Action="ZAP2WS/SucursalWS/eliminarSucursalRequest" message="tns:eliminarSucursal" />
      <output wsam:Action="ZAP2WS/SucursalWS/eliminarSucursalResponse" message="tns:eliminarSucursalResponse" />
    </operation>
    <operation name="listarSucursal">
      <input wsam:Action="ZAP2WS/SucursalWS/listarSucursalRequest" message="tns:listarSucursal" />
      <output wsam:Action="ZAP2WS/SucursalWS/listarSucursalResponse" message="tns:listarSucursalResponse" />
    </operation>
    <operation name="insertarSucursal">
      <input wsam:Action="ZAP2WS/SucursalWS/insertarSucursalRequest" message="tns:insertarSucursal" />
      <output wsam:Action="ZAP2WS/SucursalWS/insertarSucursalResponse" message="tns:insertarSucursalResponse" />
    </operation>
    <operation name="modificarSucursal">
      <input wsam:Action="ZAP2WS/SucursalWS/modificarSucursalRequest" message="tns:modificarSucursal" />
      <output wsam:Action="ZAP2WS/SucursalWS/modificarSucursalResponse" message="tns:modificarSucursalResponse" />
    </operation>
  </portType>
  <binding name="SucursalWSPortBinding" type="tns:SucursalWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="buscarSucursal">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarSucursal">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarSucursal">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarSucursal">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarSucursal">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="SucursalWS">
    <port name="SucursalWSPort" binding="tns:SucursalWSPortBinding">
      <soap:address location="http://localhost:8080/ZAP2WS/SucursalWS" />
    </port>
  </service>
</definitions>