ZAP2Frontend_C#/InterfacesTrabajoGrupal/Connected Services/ServicioWS/TarjetaWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="ZAP2WS" targetNamespace="ZAP2WS" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="buscarTarjeta" type="tns:buscarTarjeta" />
  <xs:element name="buscarTarjetaResponse" type="tns:buscarTarjetaResponse" />
  <xs:element name="eliminarTarjeta" type="tns:eliminarTarjeta" />
  <xs:element name="eliminarTarjetaResponse" type="tns:eliminarTarjetaResponse" />
  <xs:element name="insertarTarjeta" type="tns:insertarTarjeta" />
  <xs:element name="insertarTarjetaResponse" type="tns:insertarTarjetaResponse" />
  <xs:element name="listarTarjeta" type="tns:listarTarjeta" />
  <xs:element name="listarTarjetaResponse" type="tns:listarTarjetaResponse" />
  <xs:element name="modificarTarjeta" type="tns:modificarTarjeta" />
  <xs:element name="modificarTarjetaResponse" type="tns:modificarTarjetaResponse" />
  <xs:complexType name="insertarTarjeta">
    <xs:sequence>
      <xs:element minOccurs="0" name="tarjeta" type="tns:tarjeta" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tarjeta">
    <xs:sequence>
      <xs:element minOccurs="0" name="banco" type="tns:banco" />
      <xs:element name="codTarjeta" type="xs:int" />
      <xs:element name="idTarjeta" type="xs:int" />
      <xs:element minOccurs="0" name="tipoTarjeta" type="tns:tipoTarjeta" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="banco">
    <xs:sequence>
      <xs:element name="idBanco" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarTarjetaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTarjeta">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTarjetaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:tarjeta" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarTarjeta">
    <xs:sequence>
      <xs:element minOccurs="0" name="tarjeta" type="tns:tarjeta" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarTarjetaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarTarjeta">
    <xs:sequence>
      <xs:element name="idTarjeta" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarTarjetaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarTarjeta">
    <xs:sequence>
      <xs:element name="idTarjeta" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarTarjetaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:tarjeta" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="tipoTarjeta">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DEBITO" />
      <xs:enumeration value="CREDITO" />
      <xs:enumeration value="CUENTA_CORRIENTE" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>